
#peque{
    width: 80px;
    height: 100%;
}

.botones_increde{
    text-align: center;
    background-color: rgb(158, 134, 94);
    cursor: pointer;
    color: rgb(251, 249, 242);
    width: 1.5rem;
    height: 1.5rem;
    border-style: none;
    border-radius: 5px;
} 
.table td, .table th {
    vertical-align: middle;
}