.contenedor_info{
    padding: 50px 150px;
}

.nav-perfil{
    background-color: #6b4e44;
    border-radius: 9px;
    padding: 10px 0;
}

.icono-nav-perfil{
    font-size: 1.2rem;
}
#direcc{
    width: auto;
    background-color: #6b4e44;
    color: hsl(0, 0%, 100%);
    font-size: 0.9em;
    
    height: 45px;
    border-radius: 0.5rem;
    padding-left: 3%;
    padding-right: 3%;
    border-style: none;
}

#direcc:hover{
    background-color: #6d544cf8;
    border-color: #6b4e44;
}

.booooot{
    width: 60%;
    margin: auto;
    height: 45px;
    background-color: #6b4e44;
    color: hsl(0, 0%, 100%);
    font-size: 0.9em;
    border-color: #6b4e44;
    
    border-style: none;
    border-radius: 0.5em;
}
.booooot:hover{
    background-color: #816b63;
}


.datos-perfil span{
    font-weight: 600;
}

.link:hover{
    font-weight: 600;
}

#bloc_direcciones{
    background-color: #F2F0F3;
    border-radius: 1px;
    box-shadow: 0 0 20px rgba(2, 1, 1, 0.2);
    padding: 40px 100px;
    height: 85%;
}

.volver-inicio a{
    text-decoration: none;
}

.volver-inicio p:hover{
    font-weight: bold;
}
#navicito{
    display: flex;
    justify-content: end;
   
}
#div_navicito{
    margin-right: 8%;
}
.page-item{
    color: #000;
}

#colorcito{
    color: #000;
}

@media (max-width:767px){
    #bloc_direcciones{
        padding: 10px 15px;
        height: 88%;
    }
    #div_navicito{
        margin-bottom: 15%;
    }
    .contenedor_info{
        padding: 10px 30px;
    }
}

@media (min-width:768px) and (max-width:991px){
    #bloc_direcciones{
        height: 88%;
        
    }
}

@media (min-width:992px){
    #bloc_direcciones{
        padding: 40px 100px;
    }
    
}