.contenedor_info{
    padding: 50px 150px;
}

.nav-perfil{
    background-color: #6b4e44;
    border-radius: 9px;
    padding: 10px 0;
}

.icono-nav-perfil{
    font-size: 1.2rem;
}



.datos-perfil span{
    font-weight: 600;
}

.link:hover{
    font-weight: 600;
}

#bloc_direcciones{
    background-color: #F2F0F3;
    border-radius: 1px;
    box-shadow: 0 0 20px rgba(2, 1, 1, 0.2);
    padding: 40px 100px;
    height: 70%;
    margin-bottom: 20%;
}

.volver-inicio a{
    text-decoration: none;
}

.volver-inicio p:hover{
    font-weight: bold;
}

@media (max-width:767px){
    #bloc_direcciones{
        padding: 10px 15px;
        height: 40%;
        margin-bottom: 40%;
    }

    .contenedor_info{
        padding: 10px 30px;
    }
}

@media (min-width:768px) and (max-width:991px){
    #bloc_direcciones{
        padding: 40px 100px;
        margin-bottom: 20%;
    }
}

@media (min-width:992px){
    #bloc_direcciones{
        padding: 40px 100px;
    }
    
}