/*---------------------------Encabezado----------------------*/
body {
    font-family: "Montserrat";
  }
@font-face {
    font-family: Montserrat;

    src: url('recursos/Montserrat-VariableFont_wght.ttf');

}



/*----------------------------------------------------------------*/
h4{
    display: inline;
    margin-left: 5%;
    font-family: Montserrat;
}
.link{
    text-decoration-line: none;
    color: #ffffff;
}
.link:hover{
    font-weight: 600;
}

#barrita{
    background-color: #6b4e44;
    height: 90%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 0.5rem;
    font-family: Montserrat;
    display: flex;
    flex-wrap: wrap;
}
#mf .link{
    margin-right: 0;
    
}
#flecha{
    margin-left: 12%;
}
#flecha:hover{
    background-color: #d7d7d7;
    border-radius: 50%;
}

a{
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    position: relative;
    top: 2px;
    
}
#atras{
    color: #000;
}
#direcc{
    margin-left: 16%;
    width: auto;
    background-color: #6b4e44;
    color: #ffffff;
    border: #6b4e44;
    height: 40px;
    border-radius: 0.5rem;
    padding-left: 3%;
    padding-right: 3%;
}

#direcc:hover{
    background-color: #6d544cf8;
}


h3{
    font-family: Montserrat;
    text-align: center;
}

#mensaje{
    background-color: #F2F0F3;
    
    border-radius: 0.8rem;
    height: 50%;
    margin-left: 13%;
    width: 80%;

}

@media (max-width: 576px) {
    #barrita .link {

        flex: 1 1 100%;
        text-align: center;

    }#mensaje{
        height: 40%;
        width: 75%;
    }
    #barrita{
        margin-top: 10%;
    }
    #bloque_flecha{
        margin-top: 15%;
        padding-left: 30px;
    }
    #direcc{
        padding-left: 5%;
        padding-right: 5%;
    }
    #div_usuario{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 577px) and (max-width:950px){
    #div_usuario{
        width: 100%;
        margin-bottom: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #barrita{
        height: 200%;
    }
    #bloque_flecha{
        margin-top: 2%;
    }
}