@font-face {
    font-family: Monserrat;
    src: url(recursos/Montserrat-VariableFont_wght.ttf);
}

body {
    
    font-family: 'Monserrat';
}
main{
    background-color:rgb(251, 249, 242)
}
#men{
    margin-left:4%;
}
.card{
    width: 350px; 
    height: 450px; 
    background-color:  rgb(251, 249, 242); 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 80px;
}
.card-body{
    display: flex;
    margin-top: 5px;
    text-align: center;
    line-height: 1.6;
    width: 90%;  
}
.car p{
    display: flex;
    margin-top: 5px;
    text-align: center;
    line-height: 1.6;
    width: 90%; 
}
.cars p{
    display: flex;
    margin-top: 55px;
    text-align: center;
    line-height: 1.6;
    width: 80%; 
}
.card h5{
    margin-top: 40px;
    margin-bottom: 23px;
}

.card img{
    width: 180px;
    margin: 0 auto;
}
#visi{
    width: 200px;
    margin: 0 auto;
}
.fras{
    display: flex;
    background-color: rgb(158, 134, 94);
    height: 60px;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 34px;
}
.card-title {
    text-align: center;
    margin-top: 1rem;
}
.card-body {
    text-align: justify;
}

.custom-card {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.custom-card-img {
    width: 100%; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}

.custom-card-body {
    padding: 20px; 
    background-color:rgb(251, 249, 242)
}

.custom-card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(158, 134, 94);
}

.custom-card-text {
    font-size: 1em;
    color: #333;
    text-align: center;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }
    .card img {
        width: 150px;
    }
}

@media (max-width: 576px) {
    .card {
        width: 100%;
        margin-top: 40px;
    }
    .card img {
        width: 120px;
    }
}