@font-face {
    font-family: Monserrat;
    src: url(recursos/Montserrat-VariableFont_wght.ttf);
}

main{
    background-color: rgb(251, 249, 242);
}

.nues_produc{
    border-top: 2px solid rgb(158, 134, 94);
}

.nues_produc h3{
    color: rgb(158, 134, 94);
}

body {
    font-family: 'Monserrat';
}
#redes{
    width: 30%;
    margin-top: -6%;
}
#ofici{
    width: 70%;
}
#tes{
    align-items: center;
    text-align: justify;
    justify-content: center;
    width: 50%;
}
h5{
    justify-content: center;
    text-align: center    
}
#centr{
    justify-content: center;
    margin: 4%;
    background-color: #F2F0F3;
    box-shadow: 0 0 20px rgba(5, 1, 1, 0.2); /*sombra*/
}
#ali{
    text-align: center;
    margin-left: 17%;
    width: 30%;
}
#corre{
    border: none;
    width: 100%;
    justify-content: center;
    background-color: #F2F0F3;
}
#co{
    width: 70%;
    margin-left: 34px;
}
#tesa{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 3%;
}
#ce{
    margin-top: 5%;
    margin-left: -7%;
}
#med{
    margin-left: -8%;
}