@font-face{
    font-family: Monserrat;
    src: url(recursos/Montserrat-VariableFont_wght.ttf);
}

body{
    font-family: 'Monserrat';
}

.descuentos{
    background-color: #6b4e44;
    color: #fff;
    justify-content: center;
    font-weight: 550;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

#amefil{
    width: 150px;
}

.menu{
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.menu .nav-item>.nav-link{
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    margin-inline: 1rem;
}

.menu .nav-item{
    height: 2.3rem;
}

.menu .nav-item>.nav-link:hover{
    border-bottom: 1px solid;
}

.menu-iconos{
    display: flex;
    justify-content: end;
    padding-right: 5rem;
}

.menu-iconos i{
    color: black;
    font-size: 1.2rem;
}

.boton-icono{
    border: none;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 0.7rem;
}

.boton-icono:hover{
    background-color: #d7d7d7;
}

header{
    border-bottom: 1px solid rgb(220, 220, 220);
}

/*iconos de navegacion*/
.buscar li>a{
    font-size: 0.9rem;
}

.buscar li>a:hover{
    background-color: #6b4e44;
    color: #fff;
}