@font-face{
    font-family: Monserrat;
    src: url(recursos/Montserrat-VariableFont_wght.ttf);
}

body{
    font-family: 'Monserrat';
} 

/*Barra*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(246, 244, 240);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(158, 134, 94);
    border: 1px solid rgb(246, 244, 240); 
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgb(119, 101, 71),rgb(158, 134, 94),rgb(119, 101, 71))
}

/*Encabezado*/

.cabi{
    cursor: pointer;
    background-color: rgb(158, 134, 94);
}

.cabi p{
    margin: 0;
    font-size: 10pt;
    color: rgb(251, 249, 242);
    text-align: center;
}

.cabi:hover{
    background: linear-gradient(to left,rgb(119, 101, 71),rgb(158, 134, 94),rgb(119, 101, 71));
}

.log1{
    height: 80px;
} 

.menu{
    display: flex;
    align-items: center;
    background-color: rgb(251, 249, 242);
}

.menu .nav-item>.nav-link{
    color: rgb(158, 134, 94);
    font-size: 0.8rem;
    font-weight: 500;
}

.menu .nav-item>.nav-link:hover{
    border-bottom: 1px solid;
}

.menu-iconos i{
    font-size: 1.2rem;
}

.boton-icono{
    border: none;
    color: rgb(158, 134, 94);
    background-color: rgb(251, 249, 242);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 0.8rem;
}

.boton-icono:hover{
    color: rgb(251, 249, 242);
    background-color: rgb(158, 134, 94);
}

header .nav-item{
    position: relative;
}

.buscar li>a{
    font-size: 0.9rem;
    color: rgb(158, 134, 94);
}

.buscar li>a:hover{
    background-color: rgb(158, 134, 94);
    color: rgb(251, 249, 242);
}

.dropdown-buscar{
    width: 37%;
    background-color: rgb(251, 249, 242);
}

#busqueda{
    width: 95%;
    margin: 0 auto;
    font-size: 0.9rem;
    border-color: rgb(158, 134, 94);
}

#busqueda:focus{
    box-shadow: 0 0 0 1px rgb(158, 134, 94); 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgb(158, 134, 94)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.offcanvas{
    background-color: rgb(251, 249, 242);
}

/*FOOTER*/

footer{
    background-color: rgb(40, 34, 24);
}

.info ul{
    list-style: none;
    padding-left: 0;
}

.info ul li{
    font-size: 0.9rem;
}

.info ul a{
    text-decoration: none;
    color: rgb(251, 249, 242);
}

.info ul a:hover{
    color: rgb(158, 134, 94);
}

footer h5{
    color: rgb(158, 134, 94);
    font-weight: 500;
    font-size: 1.4rem;
}

footer .redes-sociales{
    font-size: 1.5rem;
}

.accordion-footer{
    width: 100%;
}

.unirse {
    border-color: rgb(158, 134, 94);
}

.unirse:focus{
    box-shadow: 0 0 0 2px rgb(158, 134, 94);
}

.redicono{
    color: rgb(251, 249, 242);
}

.redicono:hover{
    color: rgb(158, 134, 94);
}

.fechacopy{
    background-color: rgb(158, 134, 94);
    color: rgb(251, 249, 242);
}

.fechacopy p{
    padding-block: 10px;
    margin: 0;
}

/* ACORDEON */

.acordeon_general {
    width: 100%;
}

.acordeon {
    width: 100%;
    background-color: rgb(40, 34, 24);
    color: #fff;
    padding: 15px;
    text-align: left;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.acordeon:not(.collapsed) {
    background-color: rgb(158, 134, 94);
    color: #fff;
}

.acordeon:focus {
    outline: none; 
    box-shadow: none; 
}

.fondo_oscuro{
    background-color: rgb(40, 34, 24);
}

/*.acordeon.collapsed::after, .acordeon:not(.collapsed)::after{
    background-color: #fff;
}*/






@media (max-width:767px){
    #amefil{
        max-width: 120px;
    }

    header .icono{
        font-size: 15px;
    }

    #logofooter{
        width: 100px;
    }
}

@media (min-width:768px) and (max-width:991px){
    #amefil{
        max-width: 40%;
    }

    #logofooter{
        width: 100px;
    }

    .ps-10{
        padding-left: 50px;
    }

    footer .info{
        margin-top: 3rem;
    }
}

@media (min-width:992px){
    #amefil{
        max-width: 50%;
    }

    #logofooter{
        width: 90px;
    }

    .ps-10{
        padding-left: 100px;
    }

    footer .info{
        margin-top: 3.3rem;
        margin-bottom: 3.3rem;
    }
}