@font-face{
    font-family: Monserrat;
    src: url(recursos/Montserrat-VariableFont_wght.ttf);
}

body{
    font-family: 'Monserrat';
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000; 
}

.descuentos{
    background-color: #6b4e44;
    color: #fff;
    justify-content: center;
    font-weight: 550;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

.flecha-prom{
    font-size: 1.5rem;
}

.custom-control-prev,
.custom-control-next {
    width: 50px;  /* Cambia el ancho del botón */
    height: 50px; /* Cambia la altura */
}

/*LOGO AMEFIL*/



.menu{
    display: flex;
    align-items: center;
}

.menu .nav-item>.nav-link{
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
}

.menu .nav-item{
    height: 2.3rem;
}

.menu .nav-item>.nav-link:hover{
    border-bottom: 1px solid;
}

.menu-iconos{
    display: flex;
}

.menu-iconos i{
    color: black;
    font-size: 1.2rem;
}

.boton-icono{
    border: none;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 0.7rem;
}

.boton-icono:hover{
    background-color: #d7d7d7;
}

header{
    border-bottom: 1px solid rgb(220, 220, 220);
}

/*Navegacion*/
.navegacion .nav-item>.nav-link{
    white-space: nowrap;
}

/*iconos de navegacion*/
.buscar li>a{
    font-size: 0.9rem;
}

.buscar li>a:hover{
    background-color: #6b4e44;
    color: #fff;
}

.dropdown-buscar{
    width: 37%;
}

#busqueda{
    width: 95%;
    margin: 0 auto;
    font-size: 0.9rem;
}

#busqueda:focus{
    border: #6b4e44; 
    box-shadow: 0 0 0 3px #6b4e44; 
}




/*MAIN*/ 



/*Información rápida*/
.info-rapida{
    border-top: 1px solid #d7d7d7;
}

.info-rapida i{
    font-size: 2.5rem;
    margin: 1.5rem 0;
}





/*FOOTER*/
footer{
    background-color: #6b4e44;
}

footer .info{
    margin-top: 3.3rem;
    margin-bottom: 3.3rem;
}

.info ul{
    list-style: none;
    padding-left: 0;
}

.info ul li{
    font-size: 0.8rem;
}

.info ul a{
    text-decoration: none;
}

.info-light{
    color: white;
}

.info-dark{
    color: black;
}

.conocenos, .soporte{
    padding-left: 5rem;
}

footer h5{
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
}

footer .redes-sociales{
    font-size: 2rem;
}

.accordion-footer{
    width: 100%;
}










@media (max-width:767px){
    #amefil{
        max-width: 120px;
    }

    header .icono{
        font-size: 15px;
    }

    #logofooter{
        width: 100px;
    }
}

@media (min-width:768px) and (max-width:991px){
    #amefil{
        max-width: 40%;
    }


}

@media (min-width:992px){
    #amefil{
        max-width: 50%;
    }

    #logofooter{
        width: 90px;
    }
}