.contenedor_info{
    padding: 50px 150px;
}

.nav-perfil{ 
    background-color: rgb(158, 134, 94);
    border-radius: 9px;
    padding: 10px 0;
}

.icono-nav-perfil{
    font-size: 1.2rem;
}

.volver-inicio a{
    text-decoration: none;
}

.volver-inicio p:hover{
    font-weight: bold;
}

@media (max-width:767px){
    .contenedor_info{
        padding: 10px 30px;
    }
}