@font-face {
    font-family: Monserrat;
    src: url(recursos/Montserrat-VariableFont_wght.ttf);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
    padding-bottom: 20px;
}

.container {
    padding-bottom: 20px;
    padding-top: 40px;
}

#con {
    margin-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

h6 {
    margin-top: 20px;
}

.accordion-button {
    background-color: rgb(158, 134, 94);
    color: rgb(251, 249, 242);
}

.accordion-button:not(.collapsed) {
    background-color: rgb(158, 134, 94);
    color: rgb(251, 249, 242);
}
.accordion-button:focus {
    box-shadow: none; 
    outline: none;
}
