@font-face {
    font-family: Monserrat;
    src: url(recursos/Montserrat-VariableFont_wght.ttf);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
    padding-bottom: 20px;
}

.container {
    padding-bottom: 20px;
    padding-top: 40px;
}

#dats{
    padding-top: 20px;
}

#con {
    margin-bottom: 20px;
}

h6 {
    margin-top: 20px;
}


.accordion-button {
    background-color: rgb(158, 134, 94);
    color: rgb(251, 249, 242);
}

.accordion-button:not(.collapsed) {
    background-color: rgb(158, 134, 94);
    color: rgb(251, 249, 242);
}
.accordion-button:focus {
    box-shadow: none; 
    outline: none;
}


:root {
    --error-color: red;
    --success-color: green;
}

.form-field.error input {
    border-color: var(--error-color); 
}

.form-field.success input {
    border-color: var(--success-color);
}

.form-field small {
    color: var(--error-color); 
}