section{
    grid-area: section;
}

.presenta{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "imagenPrincipal imagenSecundaria"
    "imagenPrincipal imagenSecundaria2"
    ;
    color: white;
}

.presenta img{
    width: 100%;
    height: 100%;
}

.cuadroPromocion{
    grid-area: imagenPrincipal;
    background-color: #ffffff;
}

.imagen1{
    grid-area: imagenSecundaria;
}

.imagen2{
    grid-area: imagenSecundaria2;
}

.presenta .promo{
    font-size: 5.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.presenta .tituloPromo{
    margin-top: 0px;
    font-size: 6rem;
    text-align: center;
}

.cuadroPromocion p{
    margin-left: 40px;
}

.productos{
    align-items: center;
    padding-top: 100px;
    padding-bottom: 120px;
}

.carruselproductos{
    overflow: hidden;
    width: 100%; /* Ajusta esto al tamaño que necesites */
    position: relative;
    border-radius: 10px;
}

.muestraProductos{
    display: flex;
    justify-content: center;
    margin-left: 3.5em;
    flex-wrap: nowrap;
    width: max-content; /* Permite que el contenido se extienda más allá del contenedor */
    cursor: grab;
}

.productoM {
    padding-right: 15px;
}

.productos img{
    width: 25em;
}

.productos h2{
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: 2.5em;
}

.colecciones{
    height: 160vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "collares pulseras"
    "aretes bolsos"
    ;
}

.colecciones img{
    width: 100%;
    height: 100%;
}

.collares{
    grid-area: collares;
    position: relative;
}

.pulseras{
    grid-area: pulseras;
    position: relative;
}

.aretes{
    grid-area: aretes;
    position: relative;
}

.bolsos{
    grid-area: bolsos;
    position: relative;
}

.collares, .pulseras, .aretes, .bolsos{
    margin: 0.5%;
}

.collares::after, .pulseras::after, .aretes::after, .bolsos::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
}

#collares, #pulseras, #aretes, #bolsos{
    position: absolute;
    top: 45%; 
    left: 20%; 
    color: #ffffff; 
    font-size: 3rem;
    width: 500px;
    text-align: center;
    font-weight: 700;
    z-index: 1
}

.frase{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.datos_empresa{
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid;
    border-color: rgb(217, 217, 217);
    align-items: center;
}

.datos_empresa > div {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.datos_empresa img{
    margin-bottom: 15px;
}

.info_datos{
    color: #000000;
}