/*Información rápida*/
.info-rapida{
    border-top: 1px solid #d7d7d7;
}

.info-rapida i{
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

/*Producto*/
.productos{
    background-color: #F2F0F3;
}

.productos h3{
    font-weight: bold;
}

.contenedor_producto{
    overflow: hidden;
    width: 100%; 
    position: relative;
}

.producto{
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    cursor: grab;
}

.producto .card{
    margin: 0 20px;
}

.productos h3 a{
    text-decoration: none;
    color: black;
}

.productos .card {
    position: relative;
    overflow: hidden; 
}

.productos .card .btn-oculto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px; 
    opacity: 0; 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    cursor: pointer;
}

.productos .card:hover .btn-oculto {
    opacity: 1; 
    transform: translate(-50%, -50%) scale(1.1); 
}

/*COLECCIONES*/
.coleccion-texto{
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.imagen-sombreada {
    filter: brightness(0.85);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.texto-colecciones{
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 1.7rem;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.coleccion-texto:hover .imagen-sombreada{
    transform: scale(1.1); 
    filter: brightness(0.7);
}
