

.nav_productos{
    display: grid;
    grid-area: section;
    grid-template-columns: 100%;
    grid-template-rows: 20em 3em;
    grid-template-areas: 
    "cab_nav"
    "prom"
    ;
}

.cab_nav{
    margin: 3em;
    grid-area: cab_nav;
    align-items: center;
    display: grid;
    grid-template-columns: 54em 1fr;
    grid-template-rows: 15em;
    grid-template-areas: 
    "text_cab_nav img_cab_nav"
    ;
}

.cab_nav_text{
    padding: 1em;
    background-color: #F2F0F3;
    padding-top:1.4em;
    text-align: justify;
    align-items: center;
    font-size: 1em;
    width: 50em;
    height: 9em;
    border-radius: 5px;
    grid-area: text_cab_nav;
}

.img_cab_nav{
    grid-area: img_cab_nav;
    display: block;
}

.img_cab_nav img{
    margin-left: 0.3em;
    width: auto;
    height: 11.4em;
}

.prom{
    grid-area: prom;
    text-align: center;
    color: #ffffff;
    background-color: #6b4e44;
}


