.contenedor_info{
    padding: 50px 150px;
}

.titulo{
    border-top: 2px solid rgb(158, 134, 94);
}

.icono-nav-perfil{
    font-size: 1.2rem;
}

.datos-perfil span{
    font-weight: 600;
}

.link:hover{
    font-weight: 600;
}

.bloque{
    background-color: rgb(251, 249, 242);
    border-radius: 1px;
    padding: 40px 100px;
}

.volver-inicio a{
    text-decoration: none;
}

.volver-inicio p:hover{
    font-weight: bold;
}

@media (max-width:767px){
    #bloc_direcciones{
        padding: 10px 15px;
    }

    .contenedor_info{
        padding: 10px 30px;
    }
}

@media (min-width:768px) and (max-width:991px){
    #bloc_direcciones{
        padding: 40px 100px;
    }
}

@media (min-width:992px){
    #bloc_direcciones{
        padding: 40px 100px;
    }
}