.contenedor_info{
    padding: 50px 150px;
}

.nav-perfil{
    background-color: #6b4e44;
    border-radius: 9px;
    padding: 10px 0;
}

.icono-nav-perfil{
    font-size: 1.2rem;
}

.datos-perfil{
    background-color: #F2F0F3;
    padding: 40px 100px;
}

.datos-perfil span{
    font-weight: 600;
}