/*Contenedor general*/
.contenedor{
    padding-inline: 8%;
}

/*Contenedor de datos*/
.bloque{
    width: 90%;
    padding: 10%;
}

.datos-perfil span{
    font-weight: 600;
}
    
.datos:focus{
    box-shadow: 0 0 0 2px rgb(158, 134, 94); 
    border-color: rgb(158, 134, 94);
}

/*Formulario*/
.form-label{
    font-size: 0.8rem;
}

.datos{
    height: 1.7rem;
    font-size: 0.6rem;
}

.boton-guardar{
    margin-top: 1.5rem;
    font-size: 0.6rem;
    height: 1.7rem;
}

/*Tamaño Tableta*/
@media (min-width:768px) and (max-width:991px){
    .bloque{
        width: 90%;
        padding: 12%;
    }

    .contenedor{
        padding-inline: 12%;
    }

    .form-label{
        font-size: 1rem;
    }

    .datos{
        height: 2rem;
        font-size: 0.8rem;
    }
}

/*Tamaño laptop a más*/
@media (min-width:992px){
    .bloque{
        padding: 8%;
        width: 60%;
    }

    .contenedor{
        padding-inline: 10%;
    }

    .bloque-info{
        margin-inline: 0px;
    }

    .form-label{
        font-size: 1.1rem;
    }

    .datos{
        height: 2.5rem;
        font-size: 1rem;
    }

    .boton-guardar{
        font-size: 1rem;
        margin-top: 2.3rem;
        height: 2.5rem;
    }
}