section{
    grid-area: section;
}
.producto{
    display: grid;
    margin-top: 2em;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30em 13em 5em 15em 3em 30em 5em;
    grid-template-areas: 
    "img_prin detalles"
    "img_sec detalles"
    "ban_reseña ban_reseña"
    "reseña reseña"
    "crea_reseña crea_reseña"
    "produc_sim produc_sim"
    "siguenos siguenos"
    ;
    grid-area:producto;
}

.img_prin img{
    width: 30em;
}

.img_prin{
    grid-area: img_prin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detalles{
    grid-area: detalles;
    display: grid;
    grid-template-columns: 40% 60% ;
    grid-template-rows: 28% 5em 1fr;
    grid-template-areas: 
    "descrip descrip"
    "monto cantidad"
    "botones botones"
    ;
}

.descrip{
    grid-area: descrip;
}

#favoritos{
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.monto{
    margin-top: 1em;
    grid-area: monto;
}

.cantidad{
    margin-top: 1em;
    grid-area: cantidad;
}

.img_sec{
    grid-area: img_sec;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3em;
}

.img_sec img{
    width: 7em;
    height: 7em;
    margin-right: 3em;
}

.img_sec img[data-main="true"] {
    width: 10em;
    height: 10em;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter-btn {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
#counter-value {
    padding: 10px;
    text-align: center;
    width: 50px;
}

.botones{
    grid-area: botones;
}

.botones button{
    width: 31.5em;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
    background-color: #6b4e44;
    cursor: pointer;
    color: #ffffff;
    border-style: none;
}

/* 
.botones button:hover{
    background-color: #d7d7d7;
} */

.contenedor_reseña {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50em;
    margin: auto;
    grid-area: reseña;
}

.carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 2em;
    width: 45em;
    text-align: center;
}

.reseña {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

.btn_res {
    background-color: #6b4e44;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.btn_res:disabled {
    background-color: #aaa;
    cursor: default;
}

.estrellas {
    margin-left: 10px;
}

.estrellas i {
    margin: 0 2px;
    font-size: 20px;
}

.reseña p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.total_reseñas{
    display: grid;
    grid-area: ban_reseña;
    background-color:#6b4e44;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    font-size: 1.2em;
    grid-template-areas: 
    "titulo calificacion"
    ;
    color:#ffffff
}

.total_reseñas p {
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo{
    grid-area: titulo;
    justify-content: left;
    margin-left: 2em;
}

#calificacion{
    grid-area: calificacion;
}

.estrellas_total {
    margin-left: 10px;
}

.estrellas_total i {
    margin: 0 2px;
}

.crea_reseña{
    grid-area: crea_reseña;
    display:flex;
    align-items: center;
    justify-content: center;
}

#cre_res{
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
    width: 20em;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #6b4e44;
}

#cre_res:hover{
    background-color: #8b665a;
}

.produc_sim{
    display: grid;
    margin-top: 1em;
    grid-area: produc_sim;
    grid-template-columns: 100% ;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "titulo_produc_sim"
    "img_produ_sim"
    ;
}

.titulo_produc_sim{
    font-size: 1.2em;
    display: flex;
    justify-content: left;
    margin-left:2em;
    grid-area: titulo_produc_sim;
}

.img_produ_sim{
    grid-area: img_produ_sim;
    display: flex;
    margin-left: 2em;
}

.img_produ_sim a{
    height: 15em;
    width: 15em;
    margin-inline-end: 1.5em;
}

.img_produ_sim img{
    width: 15em;
    height: 15em;
}

.siguenos{
    display: flex;
    grid-area: siguenos;
    font-size: 1.2em;
    justify-content: center;    
    align-items: center;
    background-color: #6b4e44;
    color: #ffffff;
}

.siguenos p{
    margin-right: 2em;
}

.siguenos a img{
    width: 2em;
    height: auto;
}
