
/*--------------------------------------Inicio Sesion---------------------------*/
 

label{
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
}
main{
    background-color: white;
}
#bloque input{
    border-color: rgb(99, 97, 97);
    border-radius: 0;
    height: 45px;
}

.card {
    background-color: white;
    padding: 2rem;
    border-radius: 1%;
    border-color: black;
}
