
/*--------------------------------------Inicio Sesion---------------------------*/

main{
    background-color: white;
}
#bloque input{
    border-color:  black;
    border-radius: 0;
    height: 45px;
    
    margin-bottom: 5px;
}
label{
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
}

span a{
    color: black;
}

#bloc{
    border-color: black;
}
.card {
    background-color: white;
    padding: 2rem;
    border-radius: 1%;
    border-color: black;
}
#men{
    margin-top: 30px;
    margin-bottom: 10px;
}
#ing{
    margin-top: 20px;
}
:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

.form-field input:focus {
    outline: none;
}


.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);

}
#lab, #term{
    padding: none;
    padding-top: none;
    margin-top: none;
}

#term{
    margin-right: 8px;
}
#lab{
    margin: none;
}

label#lab {
    
    text-align: center; /* Centra verticalmente los elementos */
    margin: 0;
    padding: 0;
}

input[type="checkbox"] {
    margin-right: 8px; /* Añadir un poco de espacio si es necesario */
}

