
/*--------------------------------------Inicio Sesion---------------------------*/

main{
    background-color: white;
}
#bloque input{
    border-color:  black;
    border-radius: 0;
    height: 45px;
}
label{
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
}

span a{
    color: black;
}

#bloc{
    border-color: black;
}
.card {
    background-color: white;
    padding: 2rem;
    border-radius: 1%;
    border-color: black;
}