#Crear un archivo .env y añadir lo siguiente:
DB_HOST=25.59.236.228       # Dirección hamachi
DB_PORT=3306               # Puerto del servidor MySQL/MariaDB
DB_USER=usuario            # Nombre de usuario del usuario actual
DB_PASSWORD=contraseña     # Contraseña del usuario
DB_NAME=amefilweb             # Nombre de la base de datos
