#Crear un archivo .env y añadir lo siguiente:
DB_HOST=25.55.237.27       # Dirección hamachi
DB_PORT=3306               # Puerto del servidor MySQL/MariaDB
DB_USER=usuario            # Nombre de usuario del usuario actual
DB_PASSWORD=contraseña     # Contraseña del usuario
DB_NAME=amefil             # Nombre de la base de datos
