.titulo, .historia, .valores, .contacto {
    border-bottom: 2px solid rgb(158, 134, 94);
}

.titulo h1, .historia h1, .valores h1, .contacto h1 {
    color: rgb(119, 101, 71);
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.historia-content p, .valores-content ul, .contacto-content p {
    text-align: center; 
    width: 700px;
    margin: 0; 
}

.slogan img, .historia img, .valores img {
    width: 100px;
}

.slogan p, .historia p, .valores ul {
    text-align: center;
    margin: 0;
}

.valores ul {
    list-style-type: none;
    padding: 0;
}

.valores li {
    margin-bottom: 10px;
}

.miperu img {
    border-radius: 20px;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.miperu p {
    text-align: center;
    margin: 0;
}

.oficina img {
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.contacto p {
    text-align: center;
}

@media (max-width: 767px) {
    .slogan img, .historia img, .valores img {
        display: none;
    }
}