.titulo{
    border-bottom:2px solid rgb(158, 134, 94);
}

.titulo h1{
    color: rgb(119, 101, 71);
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.slogan img{
    width: 100px;
}

.slogan p{
    text-align: center;
    margin: 0;
}

.oficina img{
    border-radius: 20px;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

.direccion{
    text-align: center;
    margin: 0;
}

.direccion b{
    color: rgb(158, 134, 94);
}

.direccion iframe{
    border-radius: 20px;
}

.redes{
    background-color: rgb(251, 249, 242);
    border-radius: 20px;
}

.redes .elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 60px;
}

.redes i{
    color: rgb(251, 249, 242);
    font-size: xx-large;
    background-color: rgb(158, 134, 94);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.redes i:hover{
    background-color: rgb(119, 101, 71);
}

.redes h3{
    color: rgb(158, 134, 94);
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

.redes p{
    text-align: center;
    margin: 0;
}