.titulo{
    border-bottom:2px solid rgb(158, 134, 94);
}

.titulo h1{
    color: rgb(119, 101, 71);
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.dashboard{
    background-color: rgb(251, 249, 242);
}

.dashboard .product{
    color: rgb(251, 249, 242);
}

.dashboard .product .item{
    background-color: rgb(158, 134, 94);
    border-radius: 20px;
    text-align: center;
}

.dashboard .product .item p{
    margin: 0;
}

.dashboard .product .item .icon{
    background-color: rgb(251, 249, 242);
    color: rgb(158, 134, 94);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .product .item .icon:hover{
    background-color: rgb(119, 101, 71);
    color: rgb(251, 249, 242);
}

.dashboard .preview{
    color: rgb(158, 134, 94);
}

.dashboard .preview .item{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
}

.dashboard .preview .item p{
    margin: 0;
}

.dashboard .preview .item .icon{
    background-color: rgb(158, 134, 94);
    color: rgb(251, 249, 242);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .preview .item .icon:hover{
    background-color: rgb(119, 101, 71);
    color: rgb(251, 249, 242);
}

.dashboard .maping{
    color: rgb(158, 134, 94);
}

.dashboard .maping .item{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
}

.dashboard .maping table{
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.dashboard .maping table, th, td {
    border: 1px solid rgb(119, 101, 71);
}

.dashboard .maping th, td {
    padding: 10px;
    text-align: center;
}

.dashboard .maping th{
    background-color: rgb(158, 134, 94);
    color: rgb(251, 249, 242);
}

.dashboard .recent{
    color: rgb(158, 134, 94);
}

.dashboard .recent .item{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
}

.dashboard .recent .item p{
    margin: 0;
}

.dashboard .recent .item .icon{
    background-color: rgb(158, 134, 94);
    color: rgb(251, 249, 242);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .recent .item .icon:hover{
    background-color: rgb(119, 101, 71);
    color: rgb(251, 249, 242);
}

.dashboard .recent .item img{
    border-radius: 20px;
    height: 120px;
    width: 150px;
}

.dashboard .recent .title{
    text-align: center;
}

.dashboard .recent .typeproduct{
    background-color: rgb(158, 134, 94);
    border-radius: 20px;
    color: rgb(251, 249, 242);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .recent .typeproduct a{
    padding: 0;
}

.dashboard .recent .typeproduct h3, p{
    margin: 0;
    margin-right: 20px;
}

.dashboard .recent .typeproduct .icon{
    background-color: rgb(251, 249, 242);
    color: rgb(158, 134, 94);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .recent .typeproduct .icon:hover{
    background-color: rgb(119, 101, 71);
    color: rgb(251, 249, 242);
}

.listproduct .tableproduct table{
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.listproduct .tableproduct table, th, td {
    border: 1px solid rgb(119, 101, 71);
}

.listproduct .tableproduct th, td {
    padding: 10px;
    text-align: center;
}

.listproduct .tableproduct th{
    background-color: rgb(158, 134, 94);
    color: rgb(251, 249, 242);
}

.listuser .tableuser table{
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.listuser .tableuser table, th, td {
    border: 1px solid rgb(119, 101, 71);
}

.listuser .tableuser th, td {
    padding: 10px;
    text-align: center;
}

.listuser .tableuser th{
    background-color: rgb(158, 134, 94);
    color: rgb(251, 249, 242);
}