/*Contenedor de datos*/
.bloque-direcciones{
    width: 90%;
    margin: auto; 
}

/*Boton añadir dirección*/
#direccion{
    width: auto;
    padding-left: 3%;
    padding-right: 3%;
}

/*Información de la dirección*/
.datos-direccion li{
    list-style: none;
    margin-bottom: 10px;
}

.boton-borrar, .boton-editar{
    width: 80%;
    margin: auto;
    height: 45px;
}

/*Paginacion*/
#navicito{
    display: flex;
    justify-content: end;
}

#div_navicito{
    margin-right: 5%;
}

#colorcito{
    color: #000;
}