/*Contenedor general*/
.contenedor{
    padding-inline: 8%;
}

/*Contenedor de datos*/
.bloque{
    width: 90%;
    padding-inline: 0%;
}

.bloque-direcciones{
    width: 90%;
    margin: auto; 
}

/*Boton añadir dirección*/
#direccion{
    width: auto;
    padding-left: 3%;
    padding-right: 3%;
}

/*Información de la dirección*/
.datos-direccion li{
    list-style: none;
    margin-bottom: 10px;
}

.boton-borrar, .boton-editar{
    width: 80%;
    margin: auto;
    height: 45px;
}

/*Paginacion*/
#navicito{
    display: flex;
    justify-content: end;
}

#div_navicito{
    margin-right: 5%;
}

#colorcito{
    color: #000;
}

/*Tamaño Tableta*/
@media (min-width:768px) and (max-width:991px){
    .bloque{
        width: 90%;
    }

    .contenedor{
        padding-inline: 12%;
    }
}

/*Tamaño laptop a más*/
@media (min-width:992px){
    .bloque{
        padding: 3%;
        width: 60%;
    }

    .contenedor{
        padding-inline: 10%;
    }
}