.bloque{
    background-color: rgb(251, 249, 242);
}

/*Icono bienvenido*/

.nav-perfil{ 
    background-color: rgb(158, 134, 94);
    border-radius: 9px;
    padding: 10px 0;
}

/*Dropdown menú*/
.drop-perfil{
    background-color: rgb(158, 134, 94);
    color: white;
}

.drop-perfil:hover{
    background-color: rgb(119, 101, 71);
    color: white;
}

.drop-menu a:hover{
    background-color: rgb(158, 134, 94);
}

/*Opción volver al inicio*/

.volver-inicio a{
    text-decoration: none;
}

.volver-inicio p:hover{
    font-weight: bold;
}

/*Cuadro con información*/

.titulo{
    border-top: 2px solid rgb(158, 134, 94);
}

