/*Contenedor general*/
.contenedor{
    padding-inline: 8%;
}

/*Contenedor de datos*/
.bloque{
    width: 110%;
    padding-inline: 5%;
}

.datos-perfil span{
    font-weight: 600;
}

/*Tamaño Tableta*/
