.titulo{
    border-bottom:2px solid rgb(158, 134, 94);
}

.titulo h1{
    color: rgb(119, 101, 71);
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.registrar p{
    text-align: center;
    margin: 0;
}

.separador i{
    color: rgb(119, 101, 71);
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.formulario{
    background-color: rgb(251, 249, 242);
    border-radius: 20px;
}

#fondo{
    border: 0;
    border-radius: 20px;
    padding: 2rem;
}

#fondo h3{
    color: rgb(158, 134, 94);
    font-weight: 500;
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
    border-bottom:2px solid rgb(158, 134, 94);
}

#fondo input{
    height: 45px;
    border-radius: 20px;
    border-color: rgb(158, 134, 94);
    
    margin-bottom: 5px;
}

#fondo label{
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 550;
}

#fondo select{
    height: 45px;
    border-radius: 20px;
    border-color: rgb(158, 134, 94);
    
    margin-bottom: 5px;
}

#fondo span a{
    text-decoration: none;
    font-weight: 550;
    color: rgb(158, 134, 94);
}

#fondo span a:hover{
    color: rgb(119, 101, 71);
    cursor: pointer;
}
#men{
    margin-top: 30px;
    margin-bottom: 10px;
}
#ing{
    margin-top: 20px;
}
:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

.form-group input:focus {
    outline: none;
}


.form-group.error input {
    border-color: var(--error-color);
}

.form-group.success input {
    border-color: var(--success-color);
}


.form-group small {
    color: var(--error-color);

}
#lab, #term{
    padding: none;
    padding-top: none;
    margin-top: none;
}

#term{
    margin-right: 8px;
}
#lab{
    margin: none;
}

label#lab {
    
    text-align: center; /* Centra verticalmente los elementos */
    margin: 0;
    padding: 0;
}

input[type="checkbox"] {
    margin-right: 8px; /* Añadir un poco de espacio si es necesario */
}

.form-group.error select {
    border-color: var(--error-color);
}

.form-group.success select {
    border-color: var(--success-color);
}