{% extends "maestra.html" %}

{% block titulo %}
Sobre Nosotros
{% endblock %}

{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Amefil.css') }}">
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row titulo">
        <div class="col py-4">
            <h1>Sobre Nosotros</h1>
        </div>
    </div>

    <div class="row slogan">
        <div class="col py-md-4 d-flex justify-content-center">
            <img src="{{ url_for('static', filename='img/icono_oro.svg') }}" alt="amefil_oro" class="d-none d-md-block">
        </div>
        <div class="col-md-7 col-12 py-4 d-flex align-items-center">
            <p>En Amefil, te invitamos a descubrir el hilo del alma que conecta cada una de nuestras creaciones.
                Nuestra pasión por el diseño y la artesanía se refleja en cada accesorio que ofrecemos.</p>
        </div>
        <div class="col py-md-4 d-flex justify-content-center">
            <img src="{{ url_for('static', filename='img/icono_oro.svg') }}" alt="amefil_oro" class="d-none d-md-block">
        </div>
    </div>

    <div class="row historia">
        <div class="col-12">
            <h2>Nuestra Historia</h2>
            <p>Desde nuestra fundación en [año de fundación], hemos crecido con el objetivo de brindar productos de
                calidad
                que cuenten una historia. Cada pieza está diseñada con amor y atención al detalle.</p>
        </div>
    </div>

    <div class="row valores">
        <div class="col-12">
            <h2>Nuestros Valores</h2>
            <ul>
                <li>Calidad: Nos comprometemos a ofrecer solo lo mejor.</li>
                <li>Sostenibilidad: Priorizamos prácticas responsables para cuidar nuestro planeta.</li>
                <li>Creatividad: Cada diseño es único y original.</li>
                <li>Comunidad: Apoyamos a los artesanos locales y su talento.</li>
            </ul>
        </div>
    </div>

    <div class="row oficina">
        <div class="col-12">
            <img src="{{ url_for('static', filename='img/oficina.jpg') }}" alt="nuestra_oficina"
                class="img-fluid w-100">
        </div>
    </div>

    <div class="row contacto">
        <div class="col-12">
            <h2>Contáctanos</h2>
            <p>Para saber más sobre nuestra historia y productos, no dudes en <a href="Contacto.html">contactarnos</a>.
                Estaremos encantados de atenderte.</p>
        </div>
    </div>

    <div class="row frase justify-content-center">
        <div class="col"></div>
        <div class="col-9 col-md-7 py-5">
            <img src="{{ url_for('static', filename='img/frase_online.svg') }}" alt="frase_online"
                class="d-none d-md-block">
            <img src="{{ url_for('static', filename='img/frase_twoline.svg') }}" alt="frase_twoline"
                class="d-md-none d-block">
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}