{% extends "maestra.html" %}

{% block titulo %}
Carrito de Compras
{% endblock %}

{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Carro de compras.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Navegacion_productos.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block contenido %}
<div class="row nues_produc m-0">
    <div class="col-12">
        <h3 class="text-center py-4">CARRITO DE COMPRAS</h3>
    </div>
</div>

<main class="container mt-5">
    <div class="row">
        <nav class="col-lg-8 col-md-7 col-sm-12 table-responsive">
            {% if detpedidos %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Imagen</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="cart">
                    {% for item in detpedidos %}
                    <tr>
                        <td>
                            <img src="data:image/jpeg;base64,{{ item[6] }}" style="width: 50px;">
                        </td>
                        <td>{{ item[1] }}</td>
                        <td>S/{{ item[2] }}</td> 
                        <td>
                            <div class="cantidad-container">
                                <button class="btn-quantity menos botones_increde" data-id="{{ item[0] }}" data-stock="{{ item[7] }}">-</button>
                                <p class="cantidad" id="cantidad-{{ item[0] }}">{{ item[3] }}</p>
                                <button class="btn-quantity mas botones_increde" data-id="{{ item[0] }}"data-stock="{{ item[7] }}">+</button>
                            </div>
                        </td>                       
                        <td>S/<span class="total" id="total-{{ item[0] }}">{{ "%.2f" | format(item[4]) }}</span></td> 
                        <td>
                            <button class="eliminar-producto botones_increde" data-idProducto="{{ item[0] }}"data-idPedido="{{ item[5] }}">X</button>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            <p id="mensaje-vacio">No hay productos en el carrito</p>
            {% endif %}
        </nav>
        <section class="col-lg-4 col-md-5 col-sm-12 compra">
            <div class="container text-start">
                <div class="row g-4 justify-content-center">
                    <h6 class="text-center">GENERAR COMPRA</h6>
                    <div class="col-lg-10 col-md-10 col-sm-12">
                        <label class="form-label">Subtotal:</label>
                        <input type="text" class="form-control" id="subtotal" readonly>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12">
                        <label class="form-label">Descuento:</label>
                        <input type="text" class="form-control" id="descuento" value="0" readonly>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12">
                        <label class="form-label">Total a pagar:</label>
                        <input type="text" class="form-control" id="total" readonly>
                    </div>                    
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        <button onclick="finalizarCompra()" type="button" class="botones">Finalizar
                            compra</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<script src="{{ url_for('static', filename='js/carrito.js') }}"></script>
{% endblock %}

{% block scripts_adicionales %}
{% endblock %}