{% extends "maestra.html" %}
{% block titulo %}
Amefil
{% endblock %}

{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Navegacion_productos.css') }}">
{% endblock %}

{% block contenido %}
    <main>
        <div class="row nues_produc m-0">
            <div class="col-12">
                <h3 class="text-center py-4">PULSERAS</h3>
            </div>
        </div>

        <div class="row d-flex container-fluid m-0 p-0 ">
            <div class="col-lg-12 text-center prom m-0 p-3">
                <h6 class="m-0">Envío gratis por todo el mes de junio</h6>
            </div>
        </div>

        <div class="row container-fluid m-0 p-0">
            <div class="col-lg-3 col-md-3 p-0 m-0 d-flex text-start justify-content-start d-md-block d-sm-none d-none">
                <div class="filtros align-items-left text-start">
                    <div class="fil">
                        <legend>Temporada</legend>
                        <input type="checkbox" name="temp" id="temp" value="primavera"> Primavera <br>
                        <input type="checkbox" name="temp" id="temp" value="verano"> Verano <br>
                        <input type="checkbox" name="temp" id="temp" value="otoño"> Otoño <br>
                        <input type="checkbox" name="temp" id="temp" value="invierno"> Invierno <br>
                    </div>
                    <div class="fil">
                        <legend>Color</legend>
                        <input type="checkbox" name="color" id="color" value="negro">Negro<br>
                        <input type="checkbox" name="color" id="color" value="blanco">Blanco<br>
                        <input type="checkbox" name="color" id="color" value="plateado">Plateado<br>
                        <input type="checkbox" name="color" id="color" value="crema">Crema<br>
                        <input type="checkbox" name="color" id="color" value="rosa">Rosa<br>
                        <input type="checkbox" name="color" id="color" value="rojo">Rojo<br>
                        <input type="checkbox" name="color" id="color" value="celeste">Celeste<br>
                        <input type="checkbox" name="color" id="color" value="lila">Lila<br>
                        <input type="checkbox" name="color" id="color" value="verde">Verde<br>
                        <input type="checkbox" name="color" id="color" value="marron">Marrón<br>
                    </div>
                </div>
            </div>

            <div class="accordion d-md-none col-sm-12 col-12 mt-4" id="footerAccordion">
                <div class="accordion-item">
                    <h6 class="accordion-header" id="headingTwo">
                        <button class="botones collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-controls="collapseTwo">
                            Temporadas <img src="img/img_iconos/flechita.png" class="flechita" alt="">
                        </button>
                    </h6>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#footerAccordion">
                        <div class="accordion-body">
                            <input type="checkbox" name="temp" id="temp" value="primavera"> Primavera <br>
                            <input type="checkbox" name="temp" id="temp" value="verano"> Verano <br>
                            <input type="checkbox" name="temp" id="temp" value="otoño"> Otoño <br>
                            <input type="checkbox" name="temp" id="temp" value="invierno"> Invierno <br>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h6 class="accordion-header" id="headingThree">
                        <button class="botones collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-controls="collapseThree">
                            Color <img src="img/img_iconos/flechita.png" class="flechita" alt="">
                        </button>
                    </h6>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#footerAccordion">
                        <div class="accordion-body">
                            <input type="checkbox" name="color" id="color" value="negro">Negro<br>
                            <input type="checkbox" name="color" id="color" value="blanco">Blanco<br>
                            <input type="checkbox" name="color" id="color" value="plateado">Plateado<br>
                            <input type="checkbox" name="color" id="color" value="crema">Crema<br>
                            <input type="checkbox" name="color" id="color" value="rosa">Rosa<br>
                            <input type="checkbox" name="color" id="color" value="rojo">Rojo<br>
                            <input type="checkbox" name="color" id="color" value="celeste">Celeste<br>
                            <input type="checkbox" name="color" id="color" value="lila">Lila<br>
                            <input type="checkbox" name="color" id="color" value="verde">Verde<br>
                            <input type="checkbox" name="color" id="color" value="marron">Marrón<br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12 col-12 p-0 m-0">
                <div id="lista-cursos" class="row container-fluid m-0 p-0 mt-5">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="cont_pro" data-id="5" data-name="Brisa de primavera" data-price="25.00" data-colecc="pulseras" data-temp="primavera" data-color="lila">
                            <img src="img/pulseras/pulsera-lila-flores.webp" class="card-img-top" alt="...">
                            <div class="g-2">
                                <h6>Brisa de primavera</h6>
                                <p>S/25.00</p>
                                <button type="button" class="botones agregar-carrito">Añadir al carrito</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="cont_pro" data-id="6" data-name="Tierra dorada" data-price="28.00" data-colecc="pulseras" data-temp="otoño" data-color="crema">
                            <img src="img/pulseras/8a4cb19d-2b7d-4cae-95d7-b9cf8c690897.jpg" class="card-img-top"
                                alt="...">
                            <div class="g-2">
                                <h6>Tierra dorada</h6>
                                <p>S/28.00</p>
                                <div class="d-flex align-items-end">
                                    <button type="button" class="botones agregar-carrito">Añadir al carrito</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="cont_pro" data-id="7" data-name="Hilo de plata" data-price="32.00" data-colecc="pulseras" data-temp="invierno" data-color="plateado">
                            <img src="img/pulseras/d5aca453-6573-40a1-a97f-7d035ba5e605.jpg" class="card-img-top"
                                alt="...">
                            <div class="g-2">
                                <h6>Hilo de plata</h6>
                                <p>S/32.00</p>
                                <button type="button" class="botones agregar-carrito">Añadir al carrito</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="cont_pro" data-id="8" data-name="Sueño lavanda" data-price="22.00" data-colecc="pulseras" data-temp="primavera" data-color="lila">
                            <img src="img/pulseras/pulsera-lila-bolitas.webp" class="card-img-top" alt="...">
                            <div class="g-2">
                                <h6>Sueño lavanda</h6>
                                <p>S/22.00</p>
                                <button type="button" class="botones agregar-carrito">Añadir al carrito</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="cont_pro" data-id="9" data-name="Lila fragante" data-price="25.00" data-colecc="pulseras" data-temp="primavera" data-color="lila">
                            <img src="img/pulseras/descarga (7).png" class="card-img-top" alt="...">
                            <div class="g-2">
                                <h6>Lila fragante</h6>
                                <p>S/25.00</p>
                                <button type="button" class="botones agregar-carrito">Añadir al carrito</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="cont_pro" data-id="46" data-name="Corazones unidos" data-price="28.00" data-colecc="pulseras" data-temp="primavera" data-color="negro">
                            <img src="img/pulseras/pulsera-corazones-partidos-negra.webp" class="card-img-top"
                                alt="...">
                            <div class="g-2">
                                <h6>Corazones unidos</h6>
                                <p>S/28.00</p>
                                <div class="d-flex align-items-end">
                                    <button type="button" class="botones agregar-carrito">Añadir al carrito</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="cont_pro" data-id="34" data-name="Arena roja" data-price="26.00" data-colecc="pulseras" data-temp="verano" data-color="rojo"> 
                            <img src="img/pulseras/pulsera-roja-dije-arena.webp" class="card-img-top" alt="...">
                            <div class="g-2">
                                <h6>Arena roja</h6>
                                <p>S/26.00</p>
                                <button type="button" class="botones agregar-carrito">Añadir al carrito</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="cont_pro" data-id="35" data-name="Dije de arena" data-price="24.00" data-colecc="pulseras" data-temp="verano" data-color="crema">
                            <img src="img/pulseras/pulsera-dije-arena.webp" class="card-img-top" alt="...">
                            <div class="g-2">
                                <h6>Dije de arena</h6>
                                <p>S/24.00</p>
                                <button type="button" class="botones agregar-carrito">Añadir al carrito</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="cont_pro" data-id="36" data-name="Esfera rosa" data-price="25.00" data-colecc="pulseras" data-temp="primavera" data-color="rosa">
                            <img src="img/pulseras/pulsera-rosa-bolita-plana.webp" class="card-img-top" alt="...">
                            <div class="g-2">
                                <h6>Esfera rosa</h6>
                                <p>S/25.00</p>
                                <button type="button" class="botones agregar-carrito">Añadir al carrito</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="d-flex mx-0 p-0 paginacion justify-content-center">
                    
                </div>

            </div>
        </div>
    </main>
    
    <script src="JS/jquery-3.7.1.slim.min.js"></script>
    <script src="JS/bootstrap.bundle.min.js"></script>
    <script src="JS/header_footer.js"></script>
    <script src="JS/paginacion_filtro.js"></script>
    <script src="JS/carrito.js"></script>
{% endblock %}