{% extends "maestra.html" %}
{% block titulo %}
Amefil
{% endblock %}

{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Dashboard.css') }}">
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row titulo">
        <div class="col py-4">
            <h1>Centro de control</h1>
        </div>
    </div>
    <div class="row dashboard">
        <div class="col-12 col-md-3 my-2 product">
            <div class="row">
                <div class="col-12 p-2 ps-3">
                    <div class="item p-2">
                        <h3>Productos</h3>
                        <p>Agrega un nuevo hilo</p>
                        <a href="{{url_for('formulario_agregar_producto')}}" class="btn"><i class="fa-solid fa-square-plus icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 my-2 preview">
            <div class="row">
                <div class="col-6 col-md-3 p-2">
                    <div class="item p-2">
                        <a href="{{url_for('productoadmin')}}" class="btn"><i class="fa-solid fa-bag-shopping icon"></i></a>
                        <p>Productos</p>
                        <h3>0</h3>
                    </div>
                </div>
                <div class="col-6 col-md-3 p-2">
                    <div class="item p-2">
                        <a href="" class="btn"><i class="fa-solid fa-money-bill-trend-up icon"></i></a>
                        <p>Total Ventas</p>
                        <h3>0.00</h3>
                    </div>
                </div>
                <div class="col-6 col-md-3 p-2">
                    <div class="item p-2">
                        <a href="" class="btn"><i class="fa-solid fa-hand-holding-dollar icon"></i></a>
                        <p>Clientes</p>
                        <h3>0</h3>
                    </div>
                </div>
                <div class="col-6 col-md-3 p-2 pe-3">
                    <div class="item p-2">
                        <a href="{{url_for('perfil')}}" class="btn"><i class="fa-solid fa-user icono icon"></i></a>
                        <p>Perfil</p>
                        <h3>Name</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 my-2 maping">
            <div class="row">
                <div class="col-12 p-2 ps-3">
                    <div class="item p-2">
                        <h3>Zona de Ventas</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Ciudad</th>
                                    <th>Pedidos</th>
                                    <th>Total (S/.)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Chiclayo</td>
                                    <td>20</td>
                                    <td>1023.67</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Lambayeque</td>
                                    <td>18</td>
                                    <td>945.50</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Cajamarca</td>
                                    <td>13</td>
                                    <td>683.40</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Lima</td>
                                    <td>10</td>
                                    <td>523.30</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 my-2 recent">
            <div class="row">
                <div class="col-12 title">
                    <h3>Agregados recientemente</h3>
                </div>
                <div class="col-6 col-md-3 p-2">
                    <div class="item p-2">
                        <a href="" class="btn"><img class="img-fluid" src="{{url_for('static',filename='img/bolsos/bolso-formal-rosa.webp')}}" alt="Bolsa Formal Rosa"></a>
                        <p>Producto 01</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 p-2">
                    <div class="item p-2">
                        <a href="" class="btn"><img class="img-fluid" src="{{url_for('static',filename='img/collares/descarga (1).webp')}}" alt="Arete en Aro"></a>
                        <p>Producto 02</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 p-2">
                    <div class="item p-2">
                        <a href="" class="btn"><img class="img-fluid" src="{{url_for('static',filename='img/pulseras/pulsera-corazon-negra-fina.png')}}" alt="Arete en Aro"></a>
                        <p>Producto 03</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 p-2 pe-3">
                    <div class="item p-2">
                        <a href="" class="btn"><img class="img-fluid" src="{{url_for('static',filename='img/aretes/aretes-en-aro.png')}}" alt="Arete en Aro"></a>
                        <p>Producto 04</p>
                    </div>
                </div>
                <div class="col-6 p-2">
                    <div class="typeproduct p-2">
                        <h3>Colecciones</h3>
                        <a href="" class="btn"><i class="fa-solid fa-square-plus icon"></i></a>
                    </div>
                </div>
                <div class="col-6 p-2 pe-3">
                    <div class="typeproduct p-2">
                        <h3>Descuentos</h3>
                        <a href="" class="btn"><i class="fa-solid fa-square-plus icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 my-2 product">
            <div class="row">
                <div class="col-12 p-2 ps-3">
                    <div class="item p-2">
                        <h3>Usuarios</h3>
                        <p>Agrega un nuevo usuario</p>
                        <a href="" class="btn"><i class="fa-solid fa-square-plus icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 my-2 preview">
            <div class="row">
                <div class="col-6 col-md-4 p-2">
                    <div class="item p-2">
                        <a href="" class="btn"><i class="fa-solid fa-user-shield icon"></i></a>
                        <p>Administradores</p>
                        <h3>0</h3>
                    </div>
                </div>
                <div class="col-6 col-md-4 p-2">
                    <div class="item p-2">
                        <a href="{{url_for('usuarioadmin')}}" class="btn"><i class="fa-solid fa-user-gear icon"></i></a>
                        <p>Usuarios</p>
                        <h3>0</h3>
                    </div>
                </div>
                <div class="col-12 col-md-4 p-2 pe-3">
                    <div class="item p-2">
                        <h3>Rol de Usuario</h3>
                        <p>Agrega un nuevo rol</p>
                        <a href="{{url_for('formulario_agregar_rol')}}" class="btn"><i class="fa-solid fa-square-plus icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}