{% extends "maestra.html" %}
{% block titulo %}
Amefil
{% endblock %}

{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Dashboard.css') }}">
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row titulo">
        <div class="col py-4">
            <h1>Centro de control</h1>
        </div>
    </div>
    <div class="row dashboard">
        <div class="col-12 col-md-3 my-2 product">
            <div class="row">
                <div class="col-12 p-2 ps-3">
                    <div class="item p-2">
                        <h3>Productos</h3>
                        <p>Agrega un nuevo producto</p>
                        <a href="{{url_for('formulario_agregar_producto')}}" class="btn"><i class="fa-solid fa-square-plus icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 my-2 preview">
            <div class="row">
                <div class="col-6 col-md-4 p-2">
                    <div class="item p-2">
                        <a href="{{url_for('productoadmin')}}" class="btn"><i class="fa-solid fa-bag-shopping icon"></i></a>
                        <p>Productos</p>
                        <h3>0</h3>
                    </div>
                </div>
                <div class="col-6 col-md-4 p-2">
                    <div class="item p-2">
                        <a href="" class="btn"><i class="fa-solid fa-money-bill-trend-up icon"></i></a>
                        <p>Total Ventas</p>
                        <h3>0.00</h3>
                    </div>
                </div>
                <div class="col-6 col-md-4 p-2 pe-3">
                    <div class="item p-2">
                        <a href="{{url_for('usuariocliente')}}" class="btn"><i class="fa-solid fa-hand-holding-dollar icon"></i></a>
                        <p>Clientes</p>
                        <h3>{{ contadorc[0] }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 my-2 maping">
            <div class="row">
                <div class="col-12 p-2 ps-3">
                    <div class="item p-2">
                        <h3>Zona de Ventas</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Ciudad</th>
                                    <th>Pedidos</th>
                                    <th>Total (S/.)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Chiclayo</td>
                                    <td>20</td>
                                    <td>1023.67</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Lambayeque</td>
                                    <td>18</td>
                                    <td>945.50</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Cajamarca</td>
                                    <td>13</td>
                                    <td>683.40</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 my-2 recent">
            <div class="row">
                <div class="col-6 p-2 pb-3">
                    <div class="typeproduct p-2">
                        <h3>Tipo de Producto</h3>
                        <p>Agrega un nuevo tipo de producto</p>
                        <a href="{{url_for('formulario_agregar_tipo_producto')}}" class="btn"><i class="fa-solid fa-square-plus icon"></i></a>
                    </div>
                </div>
                <div class="col-6 p-2 pe-3 pb-3">
                    <div class="typeproduct p-2">
                        <h3>Descuento</h3>
                        <p>Agrega un nuevo descuento</p>
                        <a href="{{url_for('formulario_agregar_descuento')}}" class="btn"><i class="fa-solid fa-square-plus icon"></i></a>
                    </div>
                </div>
                <div class="col-6 p-2 pb-1">
                    <div class="item p-2">
                        <a href="{{ url_for('coleccionadmin') }}" class="btn"><i class="fa-solid fa-tags icon"></i></a>
                        <p>Tipos de Producto</p>
                        <h3>{{ contadort[0] }}</h3>
                    </div>
                </div>
                <div class="col-6 p-2 pe-3">
                    <div class="item p-2">
                        <a href="{{ url_for('descuentoadmin') }}" class="btn"><i class="fa-solid fa-percent icon"></i></a>
                        <p>Descuentos</p>
                        <h3>{{ contador[0] }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 my-2 product">
            <div class="row">
                <div class="col-12 p-2 ps-3">
                    <div class="item p-2">
                        <h3>Usuarios</h3>
                        <p>Agrega un nuevo usuario</p>
                        <a href="{{url_for('formulario_agregar_usuario')}}" class="btn"><i class="fa-solid fa-square-plus icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 my-2 preview">
            <div class="row">
                <div class="col-6 col-md-4 p-2">
                    <div class="item p-2">
                        <a href="{{url_for('usuarioadmin')}}" class="btn"><i class="fa-solid fa-user-shield icon"></i></a>
                        <p>Administradores</p>
                        <h3>0</h3>
                    </div>
                </div>
                <div class="col-6 col-md-4 p-2">
                    <div class="item p-2">
                        <a href="{{url_for('usuariosdash')}}" class="btn"><i class="fa-solid fa-user-gear icon"></i></a>
                        <p>Usuarios</p>
                        <h3>0</h3>
                    </div>
                </div>
                <div class="col-12 col-md-4 p-2 pe-3">
                    <div class="item p-2">
                        <h3>Rol de Usuario</h3>
                        <p>Agrega un nuevo rol</p>
                        <a href="{{url_for('formulario_agregar_tipo_usuario')}}" class="btn"><i class="fa-solid fa-square-plus icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}