{% extends "maestra.html" %}
{% block titulo %}
Amefil
{% endblock %}
{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/PopUp.css') }}">
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row titulo">
        <div class="col py-4">
            <h1>Descuentos</h1>
        </div>
    </div>
    <div class="row return">
        <div class="col mt-3">
            <a class="backlink" href="{{url_for('dashboardadmin')}}"><i class="fa-solid fa-angle-left"></i> Dashboard</a>
        </div>
    </div>
    <div class="col-12 my-2 listproduct">
        <div class="row">
            <div class="col-12 p-2">
                <div class="tableproduct">
                    <table>
                        <thead>
                            <tr>
                                <th>Tasa</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Vigencia</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for descuento in descuentos %}
                            <tr>
                                <td>{{ descuento[1] }}</td>
                                <td>{{ descuento[2] }}</td>
                                <td>{{ descuento[3] }}</td>
                                <td>{{ 'Vigente' if descuento[4] == 0 else 'No vigente' }}</td>
                                <td>
                                    <a href="{{ url_for('formulario_editar_descuento', id=descuento[0]) }}" class="btn"><i class="fa-solid fa-square-pen iconupdate"></i></a>
                                </td>
                                <td>
                                    <form action="{{url_for('eliminar_descuento')}}" method="post" id="eliminarUsuarioForm_{{ descuento[0] }}">
                                        <input type="hidden" name="id_descuento" value="{{ descuento[0] }}">
                                        <button type="button" class="btn delete-btn" data-form-id="eliminarUsuarioForm_{{ descuento[0] }}">
                                            <i class="fa-solid fa-trash icondelete"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirmPopup" class="popup">
    <div class="popup-content">
        <h3>Confirmar eliminación</h3>
        <p>¿Estás seguro de que quieres eliminar este tipo de producto?</p>
        <button id="confirmBtn" class="btn save">Confirmar</button>
        <button id="cancelBtn" class="btn back">Cancelar</button>
    </div>
</div>
{% endblock %}

{% block scripts_adicionales %}
<script src="{{ url_for('static', filename='js/PopUp.js') }}"></script>
{% endblock %}
