{% extends "maestra.html" %}
{% block titulo %}
Amefil
{% endblock %}
{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Formulario.css') }}">
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row titulo">
        <div class="col py-4">
            <h1>Editar Colección</h1>
        </div>
    </div>
    <div class="col-12 my-2 formrol">
        <div class="row">
            <div class="col-12 p-2">
                <div class="roldate">
                    <form action="{{ url_for('actualizar_tipo_producto') }}" method="post">
                        <input type="hidden" name="id_tipo" value="{{ tipo[0] }}">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ tipo[1] }}" required>
                        </div>
                        <button type="submit" class="btn mt-3 save">Guardar</button>
                        <a href="{{ url_for('coleccionadmin') }}" class="btn mt-3 back">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
