{% extends "maestra.html" %}
{% block titulo %}
Amefil - Editar Rol
{% endblock %}
{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Formulario.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/PopUp.css') }}">
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row titulo">
        <div class="col py-4">
            <h1>Editar Rol</h1>
        </div>
    </div>
    <div class="col-12 my-2 formrol">
        <div class="row">
            <div class="col-12 p-2">
                <div class="roldate">
                    <form action="{{ url_for('actualizar_tipo_usuario') }}" method="post" class="p-2" id="editarProductoForm">
                        <input type="hidden" name="id_tipo" value="{{ rol[0] }}">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ rol[1] }}" required>
                        </div>
                        <div class="form-group">
                            <label for="vigencia">Vigencia:</label>
                            <select class="form-select" id="vigencia" name="vigencia" required>
                                <option value="0" {% if rol[2] == 0 %}selected{% endif %}>Vigente</option>
                                <option value="1" {% if rol[2] == 1 %}selected{% endif %}>No vigente</option>
                            </select>
                        </div>
                        <button type="submit" class="btn mt-3 save">Actualizar</button>
                        <a href="{{ url_for('roladmin') }}" class="btn mt-3 back">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirmPopup" class="popup">
    <div class="popup-content">
        <h3>Confirmar cambios</h3>
        <p>¿Estás seguro de que quieres guardar los cambios?</p>
        <button id="confirmBtn" class="btn save">Confirmar</button>
        <button id="cancelBtn" class="btn back">Cancelar</button>
    </div>
</div>
{% endblock %}

{% block scripts_adicionales %}
<script src="{{ url_for('static', filename='js/popup.js') }}"></script>
{% endblock %}