{% extends "maestraPerfil.html" %}

{% block estilosPerfil %}
    <link rel="stylesheet" href="{{url_for('static', filename = 'CSS/favoritos.css')}}">
    <link rel="stylesheet" href="'{{url_for('static', filename = 'CSS/Lista_favoritos.css')}}'">
{% endblock %}

{% block contenidoPerfil %}
    <div class="row row-cols-1 row-cols-md-2 g-5 d-flex justify-content-between">

        <div class="col-lg-4 col-md-6 col-sm-12" id="bloquecitos">
            <div class="card border-0 h-100">
                <div id="imm">
                    <img src="img/pulseras/pulsera-corazon-rosa-delgada.png" class="card-img-top" id="card1">
                </div>
                
                <div class="card-body py-4">
                    <div id="pruebadiv_visible">
                        <h5 class="card-title">Pulsera de corazón</h5>
                        <p class="card-text">Color: Rosa</p>
                        <p class="card-text">Precio: S/20.00</p>
                    </div>

                    
                    <br>
                    <button type="button" class="botones" id="but2">Añadir al carrito</button>
                    <br>
                    <br>
                    <button type="button" class="botones" id="but2">Quitar de favoritos</button>
                </div>

            </div>
        </div>



        <div class="col-lg-4 col-md-6 col-sm-12" id="bloquecitos">
            <div class="card border-0 h-100">
                <div id="imm">
                    <img src="img/pulseras/pulsera-triple-trenza-marron-cream.webp" class="card-img-top" id="card1"
                    style="border-radius: 0.2em;">
                </div>
                
                <div class="card-body py-4">
                    <div id="pruebadiv_visible">
                        <h5 class="card-title">Pulsera de triple trenza</h5>
                        <p class="card-text">Color: Marrón y crema</p>
                        <p class="card-text">Precio: S/20.00</p>
                    </div>

                    
                    <br>
                    <button type="button" class="botones" id="but2">Añadir al carrito</button>
                    <br>
                    <br>
                    <button type="button" class="botones" id="but2">Quitar de favoritos</button>
                </div>

            </div>
        </div>



        <div class="col-lg-4 col-md-6 col-sm-12" id="bloquecitos">
            <div class="card border-0 h-100">
                <div id="imm">
                    <img src="img/bolsos/bolso-floreado-negro.webp" class="card-img-top" id="card1">
                </div>
                
                <div class="card-body py-4">
                    <div id="pruebadiv_visible">
                        <h5 class="card-title">Bolso floreado </h5>
                        <p class="card-text">Color: negro</p>
                        <p class="card-text">Precio: S/55.00
                            <small class="text-body-secondary"><del>$65.00</del></small></p>
                        <p>Descuento: 10%</p>
                    </div>

                    <div >
                        <button type="button" class="botones" id="but2">Añadir al carrito</button>
                        <br>
                        <br>
                        <button type="button" class="botones" id="but2">Quitar de favoritos</button>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row  g-5 d-flex justify-content-between">

        <div class="col-lg-4 col-md-6 col-sm-12" id="bloquecitos">
            <div class="card border-0 h-100 d-flex flex-column">
                <div id="imm">
                    <img src="img/pulseras/pulsera-tonos-marrones-estrella-mar.webp" class="card-img-top" id="card1">
                </div>
                
                <div class="card-body py-4 ">
                    <div id="pruebadiv_visible">
                        <h5 class="card-title">Pulsera de estrella de mar</h5>
                        <p class="card-text">Color: Rosa</p>
                        <p class="card-text">Precio: S/20.00</p>
                    </div>

                    
                    <br>
                    <button type="button" class="botones" id="but2">Añadir al carrito</button>
                    <br>
                    <br>
                    <button type="button" class="botones" id="but2">Quitar de favoritos</button>
                </div>

            </div>
        </div>



        <div class="col-lg-4 col-md-6 col-sm-12" id="bloquecitos">
            <div class="card border-0 h-100">
                <div id="imm">
                    <img src="img/aretes/aretes-en-aro-celestes.png" class="card-img-top" id="card1">
                </div>
                
                <div class="card-body py-4">
                    <div id="pruebadiv_visible">
                        <h5 class="card-title">Aretes en aro</h5>
                        <p class="card-text">Color: Celeste</p>
                        <p class="card-text">Precio: S/20.00</p>
                    </div>

                    
                    <br>
                    <button type="button" class="botones" id="but2">Añadir al carrito</button>
                    <br>
                    <br>
                    <button type="button" class="botones" id="but2">Quitar de favoritos</button>
                </div>

            </div>
        </div>



        <div class="col-lg-4 col-md-6 col-sm-12" id="bloquecitos">
            <div class="card border-0 h-100">
                <div id="imm">
                    <img src="img/bolsos/bolso-tonos-marrones-asa-larga-corta.webp" class="card-img-top" id="card1">
                </div>
                
                <div class="card-body py-4">
                    <div id="pruebadiv_visible">
                        <h5 class="card-title">Bolsa de asa corta</h5>
                        <p class="card-text">Color: Rosa</p>
                        <p class="card-text">Precio: S/20.00</p>
                    </div>

                    
                    <br>
                    <button type="button" class="botones" id="but2">Añadir al carrito</button>
                    <br>
                    <br>
                    <button type="button" class="botones" id="but2">Quitar de favoritos</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}