{% extends "maestra.html" %}

{% block titulo %}
Finalizar Compra
{% endblock %}

{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Finalizar_compra.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Navegacion_productos.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block contenido %}
<div id="header"></div>

<div class="row nues_produc m-0">
    <div class="col-12">
        <h3 class="text-center py-4">FINALIZAR COMPRA</h3>
    </div>
</div>

<main class="container">
    <form id="miFormulario" action="{{ url_for('procesar_pago') }}" method="post">
        <input type="hidden" name="id_pedido" value="{{pedido[5]}}">
        <div id="con" class="row g-10">
            <nav id="central" class="col-lg-8 col-md-12 col-sm-12">
                <div class="accordion" id="accordionExample">
                    <!-- INGRESA TUS DATOS -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                INGRESA TUS DATOS
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div id="dats" class="container text-start">
                                    <div class="row g-3">
                                        <!-- Campos de datos personales -->
                                        <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                            <label for="nombre" class="form-label">Nombre completo:</label>
                                            <input type="text" id="nombre" class="form-control" required value="{{usuario[1]}}" >
                                            <small></small>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                            <label for="nacimiento">Fecha de nacimiento</label>
                                            <input type="date" class="form-control" id="nacimiento" name="nacimiento"
                                                placeholder="Ingrese su fecha de nacimiento" value="{{ usuario[6].strftime('%Y-%m-%d') }}">
                                            <small></small>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                            <label for="telefono" class="form-label">Teléfono/móvil:</label>
                                            <input type="tel" id="telefono" class="form-control" required value="{{usuario[4]}}">
                                            <small></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- COMPLETA TU DIRECCIÓN DE ENVÍO -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                COMPLETA TU DIRECCIÓN DE ENVÍO
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div id="dats" class="container text-start">
                                    <div class="row g-3">
                                        
                                        <!-- Checkboxes para seleccionar tipo de dirección -->
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <input type="radio" id="existing_address" name="address_type" onchange="toggleAddressType()" checked>
                                            <label for="existing_address">Seleccionar direcciones existentes</label>
                                            <br>
                                            <input type="radio" id="new_address" name="address_type" onchange="toggleAddressType()">
                                            <label for="new_address">Nueva dirección</label>
                                        </div>
                    
                                        <div class="col-lg-12 col-md-12 col-sm-12" id="existing_addresses_section">
                                            <label for="direccion_existente" class="form-label">Direcciones existentes:</label>
                                            <select id="direccion_existente" class="form-control">
                                                <option selected>--Seleccionar una dirección--</option>
                                                {% for direccion in direcciones %}
                                                <option value="{{direccion[0]}}">{{direccion[1]}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                    
                                        <div id="new_address_section" style="display:none;">
                                            <div class="row g-3">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <label for="departamento" class="form-label">Departamento:</label>
                                                    <select id="id_departamento" class="form-control" onchange="loadProvincias()" required>
                                                        <option selected>--Seleccionar su departamento--</option>
                                                        {% for departamento in departamentos %}
                                                        <option value="{{departamento[0]}}">{{departamento[1]}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <label for="provincia" class="form-label">Provincia:</label>
                                                    <select id="id_provincia" class="form-control" onchange="loadDistritos()" required>
                                                        <option value="">Seleccionar su provincia</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <label for="distrito" class="form-label">Distrito:</label>
                                                    <select id="id_distrito" class="form-control" required>
                                                        <option value="">Seleccionar su distrito</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                                    <label for="direccion" class="form-label">Dirección:</label>
                                                    <input type="text" id="direccion" class="form-control" required>
                                                    <small></small>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                                    <label for="referencia" class="form-label">Referencia:</label>
                                                    <input type="text" id="referencia" class="form-control">
                                                    <small></small>
                                                </div>
                                            </div>
                                        </div>
                    
                                        <!-- Checkbox para guardar dirección -->
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <input type="checkbox" id="guardar_direccion" name="guardar_direccion">
                                            <label for="guardar_direccion">Guardar dirección</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- INGRESA LOS DATOS DE SU TARJETA -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                INGRESA LOS DATOS DE SU TARJETA
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div id="dats" class="container text-start">
                                    <div class="row g-3">
                                        <!-- Campos de tarjeta -->
                                        <div class="col-lg-12 col-md-6 col-sm-12 form-field">
                                            <label for="tarjeta" class="form-label">
                                                Número de la tarjeta:
                                                <img src="{{ url_for('static', filename='img/visa.png') }}" alt="Visa"
                                                    style="width: 30px; margin-left: 5px;">
                                                <img src="{{ url_for('static', filename='img/master.png') }}"
                                                    alt="MasterCard" style="width: 30px; margin-left: 5px;">
                                                <img src="{{ url_for('static', filename='img/amex.png') }}" alt="Amex"
                                                    style="width: 30px; margin-left: 5px;">
                                            </label>
                                            <input type="text" id="tarjeta" class="form-control" required>
                                            <small></small>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                            <label for="titular" class="form-label">Titular de la tarjeta:</label>
                                            <input type="text" id="titular" class="form-control" required>
                                            <small></small>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                            <label for="codigo" class="form-label">Código de seguridad:</label>
                                            <input type="text" id="codigo" class="form-control" required>
                                            <small></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Resumen de compra -->
            <section class="col-lg-4 col-md-12 col-sm-12 mt-5">
                <div class="container text-start">
                    <div class="row g-4 justify-content-center">
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <label class="form-label">Precio envío:</label>
                            <input style="text-align: center;" id="precioEnvio" class="form-control" type="text"
                                value="ENVÍO GRATIS" readonly>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <label class="form-label">Total a pagar:</label>
                            <input id="totalPagar" class="form-control" type="text" readonly value="{{carrito[0]}}" >
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <button type="submit" id="pagarButton" class="botones">PAGAR</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
</main>
<script src="{{ url_for('static', filename='JS/finalizar_comp.js') }}" defer></script>
<script src="{{url_for('static', filename = 'JS/Select_direccion.js')}}"></script>

{% endblock %}

{% block scripts_adicionales %}
<script>
    function toggleAddressType() {
        const existingAddressSection = document.getElementById('existing_addresses_section');
        const newAddressSection = document.getElementById('new_address_section');

        if (document.getElementById('existing_address').checked) {
            // Mostrar sección de direcciones existentes
            existingAddressSection.style.display = 'block';
            newAddressSection.style.display = 'none';
        } else if (document.getElementById('new_address').checked) {
            // Mostrar nueva dirección y vaciar los campos
            existingAddressSection.style.display = 'none';
            newAddressSection.style.display = 'block';
            document.getElementById('id_departamento').selectedIndex = 0;
            document.getElementById('id_provincia').selectedIndex = 0;
            document.getElementById('id_distrito').selectedIndex = 0;
            document.getElementById('direccion').value = '';
            document.getElementById('referencia').value = '';
        }
    }
</script>
{% endblock %}