{% extends "maestra.html" %}

{% block titulo %}
Finalizar Compra
{% endblock %}

{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Finalizar_compra.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Navegacion_productos.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block contenido %}
<div id="header"></div>

<div class="row nues_produc m-0">
    <div class="col-12">
        <h3 class="text-center py-4">FINALIZAR COMPRA</h3>
    </div>
</div>

<main class="container">
    <form id="miFormulario">
        <div id="con" class="row g-10">
            <nav id="central" class="col-lg-8 col-md-12 col-sm-12">
                <div class="accordion" id="accordionExample">
                    <!-- INGRESA TUS DATOS -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                INGRESA TUS DATOS
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div id="dats" class="container text-start">
                                    <div class="row g-3">
                                        <!-- Campos de datos personales -->
                                        <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                            <label for="nombre" class="form-label">Nombre completo:</label>
                                            <input type="text" id="nombre" class="form-control" required>
                                            <small></small>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
                                            <input type="date" id="fechaNacimiento" class="form-control" required>
                                            <small></small>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                            <label for="dni" class="form-label">Documento de identidad:</label>
                                            <input type="text" id="dni" class="form-control" required>
                                            <small></small>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                            <label for="telefono" class="form-label">Teléfono/móvil:</label>
                                            <input type="tel" id="telefono" class="form-control" required>
                                            <small></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- COMPLETA TU DIRECCIÓN DE ENVÍO -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                COMPLETA TU DIRECCIÓN DE ENVÍO
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div id="dats" class="container text-start">
                                    <div class="row g-3">
                                        <!-- Campos de dirección -->
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <label for="departamento" class="form-label">Departamento:</label>
                                            <select id="departamento" class="form-control" required>
                                                <option value="">Seleccionar</option>
                                                <option value="Lima">Lima</option>
                                                <option value="Arequipa">Arequipa</option>
                                                <option value="Cusco">Cusco</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <label for="provincia" class="form-label">Provincia:</label>
                                            <select id="provincia" class="form-control" required>
                                                <option value="">Seleccionar</option>
                                                <option value="Lima">Lima</option>
                                                <option value="Cusco">Cusco</option>
                                                <option value="Arequipa">Arequipa</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <label for="distrito" class="form-label">Distrito:</label>
                                            <select id="distrito" class="form-control" required>
                                                <option value="">Seleccionar</option>
                                                <option value="Miraflores">Miraflores</option>
                                                <option value="Santiago">Santiago</option>
                                                <option value="Yanahuara">Yanahuara</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                            <label for="direccion" class="form-label">Dirección:</label>
                                            <input type="text" id="direccion" class="form-control" required>
                                            <small></small>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                            <label for="referencia" class="form-label">Referencia:</label>
                                            <input type="text" id="referencia" class="form-control">
                                            <small></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- INGRESA LOS DATOS DE SU TARJETA -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                INGRESA LOS DATOS DE SU TARJETA
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div id="dats" class="container text-start">
                                    <div class="row g-3">
                                        <!-- Campos de tarjeta -->
                                        <div class="col-lg-12 col-md-6 col-sm-12 form-field">
                                            <label for="tarjeta" class="form-label">
                                                Número de la tarjeta:
                                                <img src="{{ url_for('static', filename='img/visa.png') }}" alt="Visa"
                                                    style="width: 30px; margin-left: 5px;">
                                                <img src="{{ url_for('static', filename='img/master.png') }}"
                                                    alt="MasterCard" style="width: 30px; margin-left: 5px;">
                                                <img src="{{ url_for('static', filename='img/amex.png') }}" alt="Amex"
                                                    style="width: 30px; margin-left: 5px;">
                                            </label>
                                            <input type="text" id="tarjeta" class="form-control" required>
                                            <small></small>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                            <label for="titular" class="form-label">Titular de la tarjeta:</label>
                                            <input type="text" id="titular" class="form-control" required>
                                            <small></small>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-field">
                                            <label for="codigo" class="form-label">Código de seguridad:</label>
                                            <input type="text" id="codigo" class="form-control" required>
                                            <small></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Resumen de compra -->
            <section class="col-lg-4 col-md-12 col-sm-12 mt-5">
                <div class="container text-start">
                    <div class="row g-4 justify-content-center">
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <label class="form-label">Precio envío:</label>
                            <input id="precioEnvio" class="form-control" type="text" readonly>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <label class="form-label">Total a pagar:</label>
                            <input id="totalPagar" class="form-control" type="text" readonly>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <button type="button" id="pagarButton" class="botones">PAGAR</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
    
    <!-- <div id="miModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeButton">&times;</span>
            <div style="display: flex; align-items: center;">
                <img src="{{ url_for('static', filename='img/img_logo/logo_amefil.svg') }}" alt="Logo de la empresa" style="width: 50px; height: auto; margin-right: 10px;">
                <div>
                    <h2>Pago exitoso</h2>
                    <p>Tu pago ha sido procesado con éxito.</p>
                </div>
            </div>
        </div>
    </div> -->
    
    
</main>
<script src="{{ url_for('static', filename='JS/finalizar_comp.js') }}" defer></script>
{% endblock %}

{% block scripts_adicionales %}
{% endblock %}