{% extends "maestra.html" %}
{% block titulo %}
Amefil
{% endblock %}

{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/PopUp.css') }}">
{% endblock %}

{% block contenido %}
<main class="row m-0 p-0">
    <!-- CARRUSEL -->
    <div class="row m-0 p-0">
        <div id="carouselExampleIndicators" class="carousel flyers slide m-0 p-0">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/f1.jpg') }}" class="d-block w-100" alt="flyer1">
                </div>
                
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/f2.jpg') }}" class="d-block w-100" alt="flyer2">
                </div>

                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/f3.jpg') }}" class="d-block w-100" alt="flyer3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <!-- TARJETA DE PRODUCTOS -->
    <div class="row productos py-5 ps-lg-5 m-0"> 
        <div class="row mb-5 text-center justify-content-center">
            <h3 class="m-0 text-center titulop"><a href="{{url_for('navegacionproductos')}}">NUESTROS PRODUCTOS</a></h3>
        </div>

        <div class="contenedor_producto d-flex">

            <div class="producto">
                {% for producto in productos %}
                <div class="card p-0" style="width: 18rem; border: 0;">
                    <img src="data:image/jpeg;base64,{{ producto[1] }}" class="rounded">
                    <a class="btn botones btn-oculto" href="{{url_for('productovista', id=producto[0])}}">Ver producto</a>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <!-- COLECCIONES -->
    <div class="row m-0 p-0">
        <div class="row m-0 p-0">
            {% for tipo in tipos %}
            <div class="col-lg-6 col-md-12 col-sm-12 text-center m-0 p-0">
                <a href="{{url_for('coleccionesheader', id=tipo[0])}}">
                    <div class="coleccion-texto">
                        <img src="{{ url_for('static', filename='img/'+tipo[1]+'.jpg') }}" alt="coleccionCollares" class="img-fluid imagen-sombreada">
                        <div class="texto-colecciones">{{tipo[1]}}</div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>


    </div>

    <div class="frase-chevere row d-flex justify-content-center text-center py-4">
        <h3>MÁS QUE ACCESORIOS,</h3>
        <h3>ARTE TEJIDO PARA TI</h3>
    </div>

    <div class="info-rapida row py-4 m-0">
        <div class="col-4 text-center">
            <i class="fa-regular fa-credit-card"></i>
            <p>Diferentes y seguras formas de pago</p>
        </div>
        <div class="col-4 text-center">
            <i class="fa-solid fa-truck"></i>
            <p>Envíos rápidos y seguros</p>
        </div>
        <div class="col-4 text-center">
            <i class="fa-solid fa-dollar-sign"></i>
            <p>La mejor relación precio-calidad</p>
        </div>
    </div>
</main>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flash-message" class="response {{ messages[0][0] }}">
      <span>{{ messages[0][1] }}</span>
      <button class="close-response" onclick="closeResponse()">×</button>
    </div>
  {% endif %}
{% endwith %}
{% endblock %}

{% block scripts_adicionales %}
<script src="{{ url_for('static', filename='js/PopUp.js') }}"></script>
{% endblock %}