{% extends "maestra.html" %}
{% block titulo %}
Amefil
{% endblock %}

{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.css') }}">
{% endblock %}

{% block contenido %}
<main class="row m-0 p-0">
    <!-- CARRUSEL -->
    <div class="row m-0 p-0">
        <div id="carouselExampleIndicators" class="carousel flyers slide m-0 p-0">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/f1.jpg') }}" class="d-block w-100" alt="flyer1">
                </div>
                
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/f2.jpg') }}" class="d-block w-100" alt="flyer2">
                </div>

                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/f3.jpg') }}" class="d-block w-100" alt="flyer3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <!-- TARJETA DE PRODUCTOS -->
    <div class="row productos py-5 ps-lg-5 m-0"> 
        <div class="row mb-5 text-center justify-content-center">
            <h3 class="m-0 text-center titulop"><a href="{{url_for('navegacionproductos')}}">NUESTROS PRODUCTOS</a></h3>
        </div>

        <div class="contenedor_producto d-flex">

            <div class="producto">
                <div class="card p-0" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='img/collares/descarga (5).webp') }}" class="rounded" alt="...">
                    <a class="btn botones btn-oculto" href="{{ url_for('navegacionproductos') }}">Ver producto</a>
                </div>

                <div class="card p-0" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='img/pulseras/pulsera-corazon-lleno-negra.webp') }}" class="rounded" alt="...">
                    <a class="btn botones btn-oculto" href="{{ url_for('navegacionproductos') }}">Ver producto</a>
                </div>

                <div class="card p-0" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='img/bolsos/bolso-tonos-marrones-pompon.webp') }}" class="rounded" alt="...">
                    <a class="btn botones btn-oculto" href="{{ url_for('navegacionproductos') }}">Ver producto</a>                </div>

                <div class="card p-0" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='img/pulseras/pulsera-lila-bolitas.webp') }}" class="rounded" alt="...">
                    <a class="btn botones btn-oculto" href="{{ url_for('navegacionproductos') }}">Ver producto</a>                </div>

                <div class="card p-0" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='img/collares/descarga (2).webp') }}" class="rounded" alt="...">
                    <a class="btn botones btn-oculto" href="{{ url_for('navegacionproductos') }}">Ver producto</a>                </div>

                <div class="card p-0" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='img/pulseras/pulsera-dije-arena.webp') }}" class="rounded" alt="...">
                    <a class="btn botones btn-oculto" href="{{ url_for('navegacionproductos') }}">Ver producto</a>                </div>

                <div class="card p-0" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='img/collares/descarga (6).webp') }}" class="rounded" alt="...">
                    <a class="btn botones btn-oculto" href="{{ url_for('navegacionproductos') }}">Ver producto</a>                </div>

                <div class="card p-0" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='img/pulseras/pulsera-roja-dije-arena.webp') }}" class="rounded" alt="...">
                    <a class="btn botones btn-oculto" href="{{ url_for('navegacionproductos') }}">Ver producto</a>                </div>
            </div>

        </div>
    </div>

    <!-- COLECCIONES -->
    <div class="row m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-lg-6 col-md-12 col-sm-12 text-center m-0 p-0">
                <a href="{{ url_for('colecciones') }}">
                    <div class="coleccion-texto">
                        <img src="{{ url_for('static', filename='img/collar.jpg') }}" alt="coleccionCollares" class="img-fluid imagen-sombreada">
                        <div class="texto-colecciones">COLLARES</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 text-center m-0 p-0">
                <a href="{{ url_for('colecciones') }}">
                    <div class="coleccion-texto">
                        <img src="{{ url_for('static', filename='img/pulsera.jpg') }}" alt="coleccionpulseras" class="img-fluid imagen-sombreada">
                        <div class="texto-colecciones">PULSERAS</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row m-0 p-0">
            <div class="col-lg-6 col-md-12 col-sm-12 text-center m-0 p-0">
                <a href="{{ url_for('colecciones') }}">
                    <div class="coleccion-texto">
                        <img src="{{ url_for('static', filename='img/bolso.jpg') }}" alt="coleccionBolsos" class="img-fluid imagen-sombreada">
                        <div class="texto-colecciones">BOLSOS</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 text-center m-0 p-0">
                <a href="{{ url_for('colecciones') }}">
                    <div class="coleccion-texto">
                        <img src="{{ url_for('static', filename='img/arete.jpg') }}" alt="coleccionesAretes" class="img-fluid imagen-sombreada">
                        <div class="texto-colecciones">ARETES</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="frase-chevere row d-flex justify-content-center text-center py-4">
        <h3>MÁS QUE ACCESORIOS,</h3>
        <h3>ARTE TEJIDO PARA TI</h3>
    </div>

    <div class="info-rapida row py-4 m-0">
        <div class="col-4 text-center">
            <i class="fa-regular fa-credit-card"></i>
            <p>Diferentes y seguras formas de pago</p>
        </div>
        <div class="col-4 text-center">
            <i class="fa-solid fa-truck"></i>
            <p>Envíos rápidos y seguros</p>
        </div>
        <div class="col-4 text-center">
            <i class="fa-solid fa-dollar-sign"></i>
            <p>La mejor relación precio-calidad</p>
        </div>
    </div>
</main>

<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}