{% extends "maestra.html" %}
{% block titulo %}
Perfil
{% endblock %}

{% block estilos_adicionales %}
    <link rel="stylesheet" href="{{url_for('static', filename ='CSS/Estandar_perfil.css')}}">
    {%block estilosPerfil %} {% endblock %}

{% endblock %}

{%block contenido %}
    <div class="container pb-4">
        <div class="row titulo">
            <div class="col py-4">
                <h1>Perfil</h1>
            </div>
        </div>

        <div class="row navegation">
            <div class="col-lg-1 back d-flex justify-content-center align-items-center">
                <a href="{{url_for('perfil')}}" class="col-lg-1">
                    <i class="fa-solid fa-arrow-left pe-3 text-light regresar"></i>
                </a>
            </div>
            <div class="col-lg-11 d-lg-block d-md-none d-none pe-5 menuNav">
                <ul class="nav justify-content-around list">
                    <li class="nav-item">
                        <a href="{{url_for('perfil')}}" class="nav-link text-light data {% if request.endpoint == 'perfil' %}active{% endif %}">Datos Personales</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('listadirecciones')}}" class="nav-link text-light address {% if request.endpoint == 'listadirecciones' or request.endpoint == 'editardireccion' or request.endpoint == 'agregardireccion' %}active{% endif %}">Direcciones</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('listapedidos')}}" class="nav-link text-light orders {% if request.endpoint == 'listapedidos' %}active{% endif %}">Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('listafavoritos')}}" class="nav-link text-light favourites {% if request.endpoint == 'listafavoritos' %}active{% endif %}">Mis favoritos</a>
                    </li>
                    
                </ul>
            </div>

            <div class="d-lg-none d-md-block d-block col-6 text-end drop-menu">
                <div class="btn-group">
                    <button class="btn drop-perfil btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> Menú
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{url_for('perfil')}}">Datos Personales</a></li>
                        <li><a class="dropdown-item" href="{{url_for('listadirecciones')}}">Direcciones</a></li>
                        <li><a class="dropdown-item" href="{{url_for('listapedidos')}}">Pedidos</a></li>
                        <li><a class="dropdown-item" href="{{url_for('listafavoritos')}}">Favoritos</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row block justify-content-center">
            <div class="titulo bloque py-lg-4 py-3">
                {% block contenidoPerfil %}
                {% endblock %}
            </div>
        </div>

    </div>

{% endblock %}    
