{% extends "maestra.html" %}
{% block titulo %}
Perfil
{% endblock %}

{% block estilos_adicionales %}
    <link rel="stylesheet" href="{{url_for('static', filename ='CSS/Estandar_perfil.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'CSS/Perfil.css')}}">
    {%block estilosPerfil %} {% endblock %}

{% endblock %}

{%block contenido %}
    <div class="contenedor py-lg-5 py-md-4 py-4">
        <div class="row">
            <div class="col-lg-4 col-6 d-flex align-items-center justify-content-end">
                <i class="fa-regular fa-user icono-nav-perfil col-lg-2 col-3"></i>
                <div class="d-flex align-items-center text-center icono-nav-perfil col-lg-10 col-9">
                    ¡Bienvenido!
                </div>
            </div>

            <div class="col-lg-8 d-lg-block d-md-none d-none nav-perfil">
                <ul class="nav justify-content-evenly">
                    <li class="nav-item">
                        <a href="{{url_for('perfil')}}" class="nav-link text-light">Datos Personales</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('listadirecciones')}}" class="nav-link text-light">Direcciones</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('listapedidos')}}" class="nav-link text-light">Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('listafavoritos')}}" class="nav-link text-light">Mis favoritos</a>
                    </li>
                </ul>
            </div>

            <div class="d-lg-none d-md-block d-block col-6 text-end drop-menu">
                <div class="btn-group">
                    <button class="btn drop-perfil btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> Menú
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{url_for('perfil')}}">Datos Personales</a></li>
                        <li><a class="dropdown-item" href="{{url_for('listadirecciones')}}">Direcciones</a></li>
                        <li><a class="dropdown-item" href="{{url_for('listapedidos')}}">Pedidos</a></li>
                        <li><a class="dropdown-item" href="{{url_for('listafavoritos')}}">Favoritos</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row d-flex py-4 volver-inicio">
            <a href="{{url_for('perfil')}}" class="d-flex align-items-center ">
                <i class="fa-solid fa-arrow-left pe-3 text-dark regresar"></i>
                <p class="m-0 text-dark regresar">Regresar</p>
            </a>
        </div>

        {% block contenidoPerfil %}
        {% endblock %}

    </div>

{% endblock %}    
