{% extends "maestra.html" %}
{% block titulo%}
Novedades
{% endblock %}

{% block estilos_adicionales %} 
<link rel="stylesheet" href="{{url_for('static', filename='CSS/Navegacion_productos.css')}}">
{% endblock %}

{% block contenido %}
<main>
    <div class="row nues_produc m-0">
        <div class="col-12">
            <h3 class="text-center py-4">NOVEDADES</h3>
        </div>
    </div>

    <div class="row d-flex container-fluid m-0 p-0">
        <div class="col-lg-12 text-center prom m-0 p-3">
            <h6 class="m-0">Envío gratis por todo el mes de junio</h6>
        </div>
    </div>

    <div class="row container-fluid m-0 p-0">
        <div class="col-lg-3 col-md-3 p-0 m-0 d-flex text-start justify-content-start d-md-block d-sm-none d-none">
            <div class="filtros align-items-left text-start">
                <div class="fil">
                    <legend>Colecciones</legend>
                    {% for tipo_pro in tipo_pro %}
                        <input type="checkbox" name = "colecc" id="colecc" value="{{tipo_pro[1]}}">{{tipo_pro[1]}}<br>
                    {% endfor %}
                </div>
                <div class="fil">
                    <legend>Temporada</legend>
                    {% for temporada in temporada %}
                        <input type="checkbox" name = "temporada" id="temporada" value="{{temporada[1]}}">{{temporada[1]}}<br>
                    {% endfor %}
                </div>
                <div class="fil">
                    <legend>Color</legend>
                    {% for color in color %}
                            <input type="checkbox" name = "color" id="color" value="{{color[1]}}">{{color[1]}}<br>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="accordion d-md-none col-sm-12 col-12 mt-4" id="footerAccordion">
            <div class="accordion-item">
                <h6 class="accordion-header" id="headingOne">
                    <button class="botones collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-controls="collapseOne">
                        Colecciones <img src="img/img_iconos/flechita.png" class="flechita" alt="">
                    </button>
                </h6>
                <div id="collapseOne" class="collapse show" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        {% for tipo_pro in tipo_pro %}
                            <input type="checkbox" name = "colecc" id="colecc" value="{{tipo_pro[1]}}">{{tipo_pro[1]}}<br>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h6 class="accordion-header" id="headingTwo">
                    <button class="botones collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-controls="collapseTwo">
                        Temporadas <img src="img/img_iconos/flechita.png" class="flechita" alt="">
                    </button>
                </h6>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        {% for temporada in temporada %}
                            <input type="checkbox" name = "temporada" id="temporada" value="{{temporada[1]}}">{{temporada[1]}}<br>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h6 class="accordion-header" id="headingThree">
                    <button class="botones collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-controls="collapseThree">
                        Color <img src="img/img_iconos/flechita.png" class="flechita" alt="">
                    </button>
                </h6>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        {% for color in color %}
                            <input type="checkbox" name = "color" id="color" value="{{color[1]}}">{{color[1]}}<br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-12 p-0 m-0">
            <div id="lista-cursos" class="row container-fluid m-0 p-0 mt-5">
                {% for producto in productos_nuevos %}
                    {% if producto[7] > 7  %}
                
                    {% else %}
                        {% if producto[11]|float == 0 %}
                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                <div class="cont_pro" data-id="{{producto[0]}}" data-name="{{producto[1]}}" data-price="{{producto[2]}}" data-colecc="{{producto[8]}}" data-temp="{{producto[10]}}" data-color="{{producto[9]}}">
                                    <a href="{{url_for('productovista', id=producto[0])}}"><img src="data:image/jpeg;base64,{{ producto[6] }}" class="card-img-top" alt="{{producto[1]}}"></a>
                                    <div class="g-2">
                                        <h6>{{producto[1]}}</h6>
                                        <div class="precio">
                                            <p>S/{{producto[2]}}</p>
                                        </div>
                                        <button class="botones agregar-carrito">Añadir al carrito</button>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                <div class="cont_pro" data-id="{{producto[0]}}" data-name="{{producto[1]}}" data-price="{{producto[2]}}" data-colecc="{{producto[8]}}" data-temp="{{producto[10]}}" data-color="{{producto[9]}}">
                                    <div class="desc">"
                                        <h6>{{ (producto[11]|float * 100)|round(2) }}%</h6>
                                    </div>
                                    <a href="{{url_for('productovista', id=producto[0])}}"><img src="data:image/jpeg;base64,{{ producto[6] }}" class="card-img-top" alt="{{producto[1]}}"></a>
                                    <div class="g-2">
                                        <h6>{{producto[1]}}</h6>
                                        <div class="precio">
                                            <p class="ant">S/{{producto[2]}}</p>
                                            <p>S/{{(producto[2]-producto[2]*producto[11]|float)|round(2) }}</p>
                                        </div>
                                        <button class="botones agregar-carrito">Añadir al carrito</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="d-flex mx-0 p-0 paginacion justify-content-center">
                
            </div>

        </div>
    </div>
</main>

<script src="{{ url_for('static', filename='JS/Paginacion_filtros.js') }}"></script>
<script src="{{ url_for('static', filename='JS/carrito.js') }}"></script>
{% endblock %}