{% extends "maestraPerfil.html" %}

{% block estilosPerfil %}
<link rel="stylesheet" href="{{url_for('static', filename = 'CSS/Pedidos_lista.css')}}">
{% endblock %}

{% block contenidoPerfil %}
<div class="col-12 my-2 preview">
    <div class="row">
        <div class="col-6 col-md-3 p-2 order">
            <div class="item p-2">
                <a href="{{url_for('productoadmin')}}" class="btn"><i class="fa-solid fa-bag-shopping icon"></i></a>
                <p>PD000 - 001</p>
                <p class="my-1">16/10/2024</p>
                <a class="my-5" href="{{url_for('detallepedidos')}}"><i class="fa-solid fa-angle-right iconview"></i></a>
            </div>
        </div>
        <div class="col-6 col-md-3 p-2 order">
            <div class="item p-2">
                <a href="" class="btn"><i class="fa-solid fa-money-bill-trend-up icon"></i></a>
                <p>PD000 - 001</p>
                <p>16/10/2024</p>
                <a href="{{url_for('detallepedidos')}}"><i class="fa-solid fa-angle-right iconview"></i></a>
            </div>
        </div>
        <div class="col-6 col-md-3 p-2 order">
            <div class="item p-2">
                <a href="" class="btn"><i class="fa-solid fa-hand-holding-dollar icon"></i></a>
                <p>PD000 - 001</p>
                <p>16/10/2024</p>
                <a href="{{url_for('detallepedidos')}}"><i class="fa-solid fa-angle-right iconview"></i></a>
            </div>
        </div>
        <div class="col-6 col-md-3 p-2 order pe-3">
            <div class="item p-2">
                <a href="{{url_for('perfil')}}" class="btn"><i class="fa-solid fa-user icono icon"></i></a>
                <p>PD000 - 001</p>
                <p>16/10/2024</p>
                <a href="{{url_for('detallepedidos')}}"><i class="fa-solid fa-angle-right iconview"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
