{% extends "maestraPerfil.html" %}

{% block estilosPerfil %}
{% endblock %}

{% block contenidoPerfil %}
<div class="col-lg-9 col-md-9 col-sm-12 col-12 p-0 m-0">
    <div id="lista-cursos" class="row container-fluid m-0 p-0 mt-5">
        {% for producto in productos_con_imagen %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="cont_pro" data-id="{{producto[0]}}" data-name="{{producto[1]}}" data-price="{{producto[2]}}" data-colecc="{{producto[7]}}" data-temp="{{producto[9]}}" data-color="{{producto[8]}}">
                        <img src="data:image/jpeg;base64,{{ producto[6] }}" class="card-img-top" alt="Atardecer dorado">
                        <div class="g-2">
                            <h6>{{producto[1]}}</h6>
                            <div class="precio">
                                <p>S/{{producto[2]}}</p>
                            </div>
                            <button class="botones agregar-carrito">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
        {% endfor %}

    </div>
</div>
{% endblock %}


