{% extends "maestraPerfil.html" %}

{% block estilosPerfil %}
<link rel="stylesheet" href="{{url_for('static', filename = 'CSS/Pedidos_lista.css')}}">
{% endblock %}

{% block contenidoPerfil %}
<div class="col-12 my-2 preview">
    <div class="row">
        <div class="col-6 col-md-3 p-2">
            <div class="item p-2">
                <a href="{{url_for('productoadmin')}}" class="btn"><i class="fa-solid fa-bag-shopping icon"></i></a>
                <p>Productos</p>
                <h3>0</h3>
            </div>
        </div>
        <div class="col-6 col-md-3 p-2">
            <div class="item p-2">
                <a href="" class="btn"><i class="fa-solid fa-money-bill-trend-up icon"></i></a>
                <p>Total Ventas</p>
                <h3>0.00</h3>
            </div>
        </div>
        <div class="col-6 col-md-3 p-2">
            <div class="item p-2">
                <a href="" class="btn"><i class="fa-solid fa-hand-holding-dollar icon"></i></a>
                <p>Clientes</p>
                <h3>0</h3>
            </div>
        </div>
        <div class="col-6 col-md-3 p-2 pe-3">
            <div class="item p-2">
                <a href="{{url_for('perfil')}}" class="btn"><i class="fa-solid fa-user icono icon"></i></a>
                <p>Perfil</p>
                <h3>Name</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}
