{% extends "maestraPerfil.html" %}

{% block estilosPerfil %}
    <link rel="stylesheet" href="css/Perfil_editar.css">
{% endblock %}

{% block contenidoPerfil %}
    <main class="row m-0 p-0">
        <div class="contenedor py-lg-5 py-md-4 py-4">
            <div class="row justify-content-center bloque-info">
                <div class="titulo bloque py-lg-4 py-md-4 pt-0 pb-4">
                    <form action="{{url_for('editardatos')}}" method="post" class="row mt-0 pt-0 g-4 justify-content-center">
                        
                        <div class="col-lg-12 col-md-12 col-12">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control datos" id="nombre" name="nombre">
                        </div>

                        <div class="col-lg-12 col-md-12 col-12">
                            <label class="form-label">Apellidos</label>
                            <input type="text" class="form-control datos" id="apellidos">
                        </div>

                        <div class="col-lg-12 col-md-12 col-12">
                            <label class="form-label">Departamento</label>
                            <select class="form-select datos" aria-label="Default select example">
                                <option selected>--Seleccione su departamento--</option>
                                <option value="1">Cajamarca</option>
                                <option value="2">Lambayeque</option>
                                <option value="3">Tumbes</option>
                                <option value="4">Moquegua</option>
                                <option value="5">Arequipa</option>
                                <option value="6">Iquitos</option>
                            </select>
                        </div>
    
                        <div class="col-lg-12 col-md-12 col-12">
                            <label class="form-label">Distrito</label>
                            <select class="form-select datos" aria-label="Default select example">
                                <option selected>--Seleccione su distrito--</option>
                            </select>
                        </div>
    
                        <div class="col-lg-12 col-md-12 col-12 d-flex justify-content-between">
                            <div class="d-block">
                                <label class="form-label">Día</label>
                                <select class="form-select datos" aria-label="Default select example">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div class="d-block">
                                <label class="form-label">Mes</label>
                                <select class="form-select datos" aria-label="Default select example">
                                    <option value="1">Enero</option>
                                    <option value="2">Febrero</option>
                                    <option value="3">Marzo</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Mayo</option>
                                    <option value="6">Junio</option>
                                    <option value="7">Julio</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Septiempre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                </select>
                            </div>
                            <div class="d-block">
                                <label class="form-label">Año</label>
                                <select class="form-select datos" aria-label="Default select example">
                                    <option value="1">2024</option>
                                    <option value="2">2023</option>
                                    <option value="3">2022</option>
                                    <option value="4">2021</option>
                                    <option value="5">2020</option>
                                    <option value="6">2019</option>
                                    <option value="7">2018</option>
                                    <option value="8">2017</option>
                                    <option value="9">2016</option>
                                    <option value="10">2015</option>
                                    <option value="11">2014</option>
                                    <option value="12">2013</option>
                                    <option value="13">2012</option>
                                    <option value="14">2011</option>
                                    <option value="15">2010</option>
                                    <option value="16">2009</option>
                                    <option value="17">2008</option>
                                    <option value="18">2007</option>
                                    <option value="19">2006</option>
                                    <option value="20">2005</option>
                                    <option value="21">2004</option>
                                    <option value="22">2003</option>
                                    <option value="23">2002</option>
                                    <option value="24">2001</option>
                                    <option value="25">2000</option>
                                </select>
                            </div>
                        </div>
    
                        <div class="col-lg-12 col-md-12 col-12">
                            <label class="form-label">Género</label>
                            <select class="form-select datos" aria-label="Default select example">
                                <option selected>--Seleccione su género--</option>
                                <option value="1">Femenino</option>
                                <option value="2">Masculino</option>
                            </select>
                        </div>
    
                        <div class="col-lg-12 col-md-12 col-12">
                            <label class="form-label">Celular</label>
                            <input type="text" class="form-control datos" id="celular">
                        </div>

                        <button class="botones py-2" onclick="location.href='Perfil.html'">Guardar datos</button>
                        
                    </form>

                </div>
            </div>
        </div>
    </main>

{% endblock %}
