{% extends "maestraPerfil.html" %}

{% block estilosPerfil %}
    <link rel="stylesheet" href="css/Perfil_editar.css">
{% endblock %}

{% block contenidoPerfil %}
    <main class="row m-0 p-0">
        <div class="contenedor py-lg-5 py-md-4 py-4">
            <div class="row justify-content-center bloque-info">
                <div class="titulo bloque py-lg-4 py-md-4 pt-0 pb-4">
                    <form action="{{url_for('editar_datos')}}" method="post" class="row mt-0 pt-0 g-4 justify-content-center">
                        <input type="hidden" id="idUsuario" name="idUsuario" value="{{datos[0]}}">
                         
                        <div class="col-lg-6 col-md-12 col-12">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control datos" id="nombre" name="nombre" value="{{datos[1]}}">
                        </div>

                        <div class="col-lg-6 col-md-12 col-12">
                            <label class="form-label">Apellidos Paterno</label>
                            <input type="text" class="form-control datos" id="apellidoP" name="apellidoP" value="{{datos[2]}}">
                        </div>

                        <div class="col-lg-6 col-md-12 col-12">
                            <label class="form-label">Apellidos Materno</label>
                            <input type="text" class="form-control datos" id="apellidoM" name="apellidoM" value="{{datos[3]}}">
                        </div>
    
                        <div class="col-lg-6 col-md-12 col-12 d-flex justify-content-between">
                            <label class="form-label">Fecha de nacimiento:</label>
                            <input type="date" class="form-control datos" id="nacimiento" name="nacimiento" value="{{datos[8]}}">
                        </div>
    
                        <div class="col-lg-6 col-md-12 col-12">
                            <label class="form-label">Género</label>
                            <select class="form-select datos" aria-label="Default select example" id="genero" name="genero">
                                <option selected>--Seleccione su género--</option>
                                <option value="0">Femenino</option>
                                <option value="1">Masculino</option>
                            </select>
                        </div>
    
                        <div class="col-lg-6 col-md-12 col-12">
                            <label class="form-label">Teléfono</label>
                            <input type="text" class="form-control datos" id="celular" name="telefono" value="{{datos[6]}}">
                        </div>

                        <button type="submit" class="botones py-2">Guardar datos</button>
                        
                    </form>

                </div>
            </div>
        </div>
    </main>

{% endblock %}
