<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amefil</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/encabezado_pie.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="CSS/PoliticaPrivacidad.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="img/icono_claro.svg">
</head>
<body>
    <div id="header" class="sticky-top">    </div>

    <main class="container">
        <div class="row titulo">
            <div class="col py-4">
                <h1>Política de Privacidad</h1>
            </div>
        </div>
        <div class="row contenido p-4">
            <div class="col-12">
                <p>
                    Esta Política de privacidad describe cómo se recopila, utiliza y comparte su información personal cuando visita o hace una compra en amefil.com (denominado en lo sucesivo el “Sitio”).
                </p>
            </div>
            <div class="col-12 subtitulo">
                <h3>INFORMACIÓN PERSONAL QUE RECOPILAMOS</h3>
            </div>
            <div class="col-12">
                <p>
                    Cuando visita el Sitio, recopilamos automáticamente cierta información sobre su dispositivo, incluida información sobre su navegador web, dirección IP, zona horaria y algunas de las cookies que están instaladas en su dispositivo. Además, a medida que navega por el Sitio, recopilamos información sobre las páginas web individuales o los productos que ve, las páginas web o los términos de búsqueda que lo remitieron al Sitio e información sobre cómo interactúa usted con el Sitio. Nos referimos a esta información recopilada automáticamente como “Información del dispositivo”.
                </p>
            </div>
            <div class="col-12 subtitulo">
                <h3>COOKIES</h3>
            </div>
            <div class="col-12">
                <p>
                    Los “Archivos de registro” rastrean las acciones que ocurren en el Sitio y recopilan datos, incluyendo su dirección IP, tipo de navegador, proveedor de servicio de Internet, páginas de referencia/salida y marcas de fecha/horario. <br>
                    Las “balizas web”, las “etiquetas” y los “píxeles” son archivos electrónicos utilizados para registrar información sobre cómo navega usted por el Sitio. <br>
                    Además, cuando hace una compra o intenta hacer una compra a través del Sitio, recopilamos cierta información de usted, entre la que se incluye su nombre, dirección de facturación, dirección de envío, información de pago (incluidos los números de la tarjeta de crédito, débito o billetera electrónica), dirección de correo electrónico y número de teléfono.  Nos referimos a esta información como “Información del pedido”. <br><br>
                    Cuando hablamos de “Información personal” en la presente Política de privacidad, nos referimos tanto a la Información del dispositivo como a la Información del pedido. Para más información sobre esta sección visite nuestra <a href="PoliticaCookies.html">Política de Cookies</a>.
                </p>
            </div>
            <div class="col-12 subtitulo">
                <h3>¿CÓMO UTILIZAMOS SU INFORMACIÓN PERSONAL?</h3>
            </div>
            <div class="col-12">
                <p>
                    Usamos la Información del pedido que recopilamos en general para preparar los pedidos realizados a través del Sitio (incluido el procesamiento de su información de pago, la organización de los envíos y la entrega de facturas y/o confirmaciones de pedido).  Además, utilizamos esta Información del pedido para: comunicarnos con usted; examinar nuestros pedidos en busca de fraudes o riesgos potenciales; y cuando de acuerdo con las preferencias que usted compartió con nosotros, le proporcionamos información o publicidad relacionada con nuestros productos o servicios. <br><br>
                    Utilizamos la Información del dispositivo que recopilamos para ayudarnos a detectar posibles riesgos y fraudes (en particular, su dirección IP) y, en general, para mejorar y optimizar nuestro Sitio (por ejemplo, al generar informes y estadísticas sobre cómo nuestros clientes navegan e interactúan con el Sitio y para evaluar el éxito de nuestras campañas publicitarias y de marketing).
                </p>
            </div>
            <div class="col-12 subtitulo">
                <h3>COMPARTIR SU INFORMACIÓN PERSONAL</h3>
            </div>
            <div class="col-12">
                <p>
                    Compartimos su Información personal con terceros para que nos ayuden a utilizar su Información personal, tal como se describió anteriormente. También utilizamos Google Analytics para ayudarnos a comprender cómo usan nuestros clientes el Sitio. Puede obtener más información sobre cómo Google utiliza su Información personal aquí: <a href="https://www.google.com/intl/es/policies/privacy/" target="_blank">https://www.google.com/intl/es/policies/privacy/</a>.  Puede darse de baja de Google Analytics aquí: <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>. <br><br>
                    Finalmente, también podemos compartir su Información personal para cumplir con las leyes y regulaciones aplicables, para responder a una citación, orden de registro u otra solicitud legal de información que recibamos, o para proteger nuestros derechos.
                </p>
            </div>
            <div class="col-12 subtitulo">
                <h3>PUBLICIDAD ORIENTADA POR EL COMPORTAMIENTO</h3>
            </div>
            <div class="col-12">
                <p>
                    Como se describió anteriormente, utilizamos su Información personal para proporcionarle anuncios publicitarios dirigidos o comunicaciones de marketing que creemos que pueden ser de su interés.  Para más información sobre cómo funciona la publicidad dirigida, puede visitar la página educativa de la Iniciativa Publicitaria en la Red ("NAI" por sus siglas en inglés) en <a href="http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work" target="_blank">http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work</a>.
                </p>
            </div>
            <div class="col-12 subtitulo">
                <h3>NO RASTREAR</h3>
            </div>
            <div class="col-12">
                <p>
                    Tenga en cuenta que no alteramos las prácticas de recopilación y uso de datos de nuestro Sitio cuando vemos una señal de No rastrear desde su navegador.
                </p>
            </div>
            <div class="col-12 subtitulo">
                <h3>SUS DERECHOS</h3>
            </div>
            <div class="col-12">
                <p>
                    Si usted es un residente europeo, tiene derecho a acceder a la información personal que tenemos sobre usted y a solicitar que su información personal sea corregida, actualizada o eliminada. Si desea ejercer este derecho, comuníquese con nosotros a través de la información de contacto que se encuentra a continuación. <br>
                    Además, si usted es un residente europeo, tenemos en cuenta que estamos procesando su información para cumplir con los contratos que podamos tener con usted (por ejemplo, si realiza un pedido a través del Sitio) o para perseguir nuestros intereses comerciales legítimos enumerados anteriormente.  Además, tenga en cuenta que su información se transferirá fuera de Europa, incluidos Canadá y los Estados Unidos.
                </p>
            </div>
            <div class="col-12 subtitulo">
                <h3>RETENCIÓN DE DATOS</h3>
            </div>
            <div class="col-12">
                <p>
                    Cuando realiza un pedido a través del Sitio, mantendremos su Información del pedido para nuestros registros a menos que y hasta que nos pida que eliminemos esta información. <br><br>
                </p>
            </div>
            <div class="col-12 subtitulo">
                <h3>CAMBIOS</h3>
            </div>
            <div class="col-12">
                <p>
                    Podemos actualizar esta política de privacidad periódicamente para reflejar, por ejemplo, cambios en nuestras prácticas o por otros motivos operativos, legales o reglamentarios.
                </p>
            </div>
            <div class="col-12 subtitulo">
                <h3>CONTÁCTENOS</h3>
            </div>
            <div class="col-12">
                <p>
                    Para obtener más información sobre nuestras prácticas de privacidad, si tiene alguna pregunta o si desea presentar una queja, visite nuestra sección de <a href="Contacto.html">Contacto Amefil</a>.
                </p>
            </div>
        </div>
    </main>

    <div id="footer">   </div>

    <script src="JS/header_footer.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>