{% extends "maestra.html" %}
{% block titulo %}
Reestablecer contraseña
{% endblock %}

{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Reestablecer_contraseña.css') }}">
{% endblock %}

{% block contenido %}
    <main class="container-fluid">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center my-5">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5">
                    <div class="card shadow-lg">
                        <div class="card-body " id="bloque">
                            <h4 class="card-title text-center">REESTABLECER CONTRASEÑA</h4>
                            <p id="mensaje" >Para restablecer tu contraseña, por favor introduce tu dirección de correo electrónico. Te enviaremos un enlace para que puedas crear una nueva contraseña.</p>
                            <form id="signup" class="form">
                                <div class="form-group">
                                    <label for="email">Correo electrónico</label>
                                    <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico">
                                    <small></small>
                                </div>
                                <div class="form-group text-center" id="env">
                                    <button type="submit" class="botones" id="but">Enviar correo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

    <script src="{{ url_for('static', filename='JS/header_footer.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/Reestablecer_contraseña.js') }}"></script>
    
    {% endblock %}