{% extends "maestra.html" %}
{% block titulo %}
Amefil - Roles
{% endblock %}
{% block estilos_adicionales %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/PopUp.css') }}">
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row titulo">
        <div class="col py-4">
            <h1>Roles</h1>
        </div>
    </div>
    <div class="row return">
        <div class="col mt-3">
            <a class="backlink" href="{{url_for('dashboardadmin')}}"><i class="fa-solid fa-angle-left"></i> Dashboard</a>
        </div>
    </div>
    <div class="col-12 my-2 listproduct">
        <div class="row">
            <div class="col-12 p-2">
                <div class="tableproduct">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rol in roles %}
                            <tr>
                                <td>{{ rol[0] }}</td>
                                <td>{{ rol[1] }}</td>
                                <td>
                                    <a href="{{url_for('formulario_editar_tipo_usuario', id=rol[0])}}" class="btn"><i class="fa-solid fa-square-pen iconupdate"></i></a>
                                </td>
                                <td>
                                    <form action="{{url_for('eliminar_tipo_usuario')}}" method="post" id="eliminarUsuarioForm_{{ rol[0] }}">
                                        <input type="hidden" name="id_tipo" value="{{ rol[0] }}">
                                        <button type="button" class="btn delete-btn" data-form-id="eliminarUsuarioForm_{{ rol[0] }}">
                                            <i class="fa-solid fa-trash icondelete"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirmPopup" class="popup">
    <div class="popup-content">
        <h3>Confirmar eliminación</h3>
        <p>¿Estás seguro de que quieres eliminar este rol de usuario?</p>
        <button id="confirmBtn" class="btn save">Confirmar</button>
        <button id="cancelBtn" class="btn back">Cancelar</button>
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flash-message" class="response {{ messages[0][0] }}">
      <span>{{ messages[0][1] }}</span>
      <button class="close-response" onclick="closeResponse()">×</button>
    </div>
  {% endif %}
{% endwith %}

{% endblock %}

{% block scripts_adicionales %}
<script src="{{ url_for('static', filename='js/PopUp.js') }}"></script>
{% endblock %}
