<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amefil</title>
    <link rel="stylesheet" href="CSS/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/encabezado_pie.css">
    <link rel="stylesheet" href="CSS/estilos.css">
    <link rel="stylesheet" href="CSS/TallaPulseras.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="img/icono_claro.svg">
</head>
<body>
    <div id="header" class="sticky-top">    </div>

    <main class="container">
        <div class="row titulo">
            <div class="col py-4">
                <h1>Guía de Tallas</h1>
            </div>
        </div>
        <div class="row slogan">
            <div class="col py-md-4"> </div>
            <div class="col-md-7 col-12 py-4 d-flex align-items-center">
                <p>
                    Explora nuestra guía de tallas para pulseras y collares, y elige las longitudes que mejor se adapten a tu estilo y comodidad. Aquí te ofrecemos toda la información necesaria para que tus accesorios luzcan perfectos en cada ocasión.
                </p>
            </div>
            <div class="col py-md-4"> </div>
        </div>
        <div class="row medidas justify-content-center">
            <div class="col-10">
                <img src="img/talla_p.jpg" alt="medidas" class="img-fluid w-100">
            </div>
            <div class="col-10">
                <img src="img/talla_c.jpg" alt="medidas" class="img-fluid w-100">
            </div>
        </div>
        <div class="row titulo">
            <div class="col py-4">
                <h1>Tabla de Medidas</h1>
            </div>
        </div>
        <div class="row tallas py-3 justify-content-center">
            <div class="col-md-5 col-12">
                <h3>Pulseras</h3>
                <table>
                    <thead>
                        <tr>
                            <th>TALLA</th>
                            <th>MEDIDA (MUÑECA)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>S</td>
                            <td>17 a 18 cms</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>18 a 19 cms</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>19 a 20 cms</td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td>20 a 21 cms</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5 col-12">
                <h3>Colleras</h3>
                <table>
                    <thead>
                        <tr>
                            <th>TALLA</th>
                            <th>MEDIDA (MUÑECA)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>XS</td>
                            <td>40 a 45 cms</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>45 a 60 cms</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>60 a 80 cms</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>80 a 100 cms</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <div id="footer">    </div>

    <script src="JS/header_footer.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>